@media screen and (max-width: 640px) {
    .container {
        display: block
    }
}
@media screen and (min-width: 900px) {
    .container {
        padding: 0
    }
}
@media screen and (max-width: 420px) {

    .form input,
    .form textarea,
    .form select {
        width: 100%
    }

    input #ddd {
        width: 30%
    }

    input #telefone {
        width: 67%
    }

    .form textarea {
        width: 100%
    }
}
@media only screen and (min-width: 767px) and (max-width: 959px) {
    embed {
        width: 100%;
        height: 225px;
        min-height: 225px
    }

    .imagen-principal {
        display: none
    }

    #content-icons {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        flex-direction: column;
        padding: 20px 0;
        clear: both;
        height: auto
    }

    .incomplete-box p {
        color: #fefefe;
        padding: 0 20px
    }

    .wrapper-img {
        width: 100%;
        margin: 50px 0 50px 0;
        height: auto
    }

    .fundo-contato {
        display: none
    }

    .imagen-principal {
        margin-right: 0px
    }

    #mpi {
        max-width: 300px;
        text-align: center;
        margin: 0 auto
    }

    .main-center {
        flex-direction: column
    }

    .quadro-2 h4 {
        color: #ffffff;
        font-size: 16px;
        font-family: 'open sans', sans-serif
    }

    .quadro-2 {
        margin: 0;
        padding: 10px;
        min-width: 100%
    }

    .incomplete-box {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px
    }

    .fundo-contato {
        display: none
    }

    .thumbnails h2 {
        bottom: 0;
        margin: 0 auto
    }

    .wrapper-main {
        height: auto;
        padding-bottom: 0
    }

    .wrapper-main-dg {
        padding-bottom: 10px
    }

    .logo-top {
        display: none
    }

    .wrapper-main-dg .gallery {
        padding-left: 0
    }

    .wrapper-footer {
        width: 100%;
        margin: 0 auto
    }

    .wrapper-copy {
        width: 100%;
        margin: 0 auto
    }

    .wrapper-intro button {
        margin: 0 auto
    }

    .main-content {
        max-width: 955px;
        width: 100%;
        display: inline-block;
        padding: 10px 0
    }

    .center-block {
        max-width: 95%;
        margin: 0 auto;
        padding-left: 15px
    }

    .busca-relacionadas {
        margin-bottom: 15px
    }

    .wrapper {
        width: 100%
    }

    .scroll-down {
        left: 45%
    }

    .logo-mobile {
        display: block;
        margin: 0 auto
    }

    .col-4 {
        width: 50%
    }

    .incomplete-box {
        margin: 0;
        padding: 0;
        border: transparent;
        -moz-border-image: -moz-linear-gradient(top left, #ecf0f1 0%, #ffb100 100%);
        -webkit-border-image: -webkit-linear-gradient(top left, #ecf0f1 0%, #ffb100 100%);
        border-image: linear-gradient(to bottom right, #ecf0f1 0%, #ffb100 100%);
        border-image-slice: 1;
        font-size: 1.4em;
        width: 100%;
        margin: 0 auto
    }

    .wrapper-above {
        width: 100%;
        margin: 0 auto
    }

    .incomplete-box img {
        width: 90%;
        height: auto;
        margin-bottom: 52px
    }

    .incomplete-box::after {
        display: none
    }

    .incomplete-box::before {
        display: none
    }

    .quadro-1 {
        border: 8px solid transparent;
        -moz-border-image: -moz-linear-gradient(top left, #ecf0f1 0%, #ffb100 100%);
        -webkit-border-image: -webkit-linear-gradient(top left, #ecf0f1 0%, #ffb100 100%);
        border-image: linear-gradient(to bottom right, #ecf0f1 0%, #ffb100 100%);
        border-image-slice: 1;
        font-size: 1.4em;
        width: 50%;
        padding: 0 20px;
        margin: 0 auto
    }

    .quadro-1 h3 {
        padding: 10px 0;
        color: #1C6299;
        font-size: 1.4em
    }

    .lista-h4 {
        padding: 20px 0
    }

    .quadro-2 {
        background: #f1f1f1;
        color: white;
        font-size: 1em;
        text-align: center;
        width: 100%;
        padding: 10px 0px 37.5px 0px;
        margin: 0 auto;
        height: auto;
        border-radius: 5px
    }

    .quadro-2 h3 {
        color: #fff;
        font-size: 1.4em;
        padding: 5px 0 0 0
    }

    .quadro-2 p {
        color: #333333;
        font-size: 1em;
        text-align: justify
    }

    .btn-4 {
        color: #fff;
        overflow: hidden;
        background-color: #dc6b0e;
        margin: 35px 10px 20px 10px
    }

    .gallery li {
        float: left;
        text-align: center;
        transition: .3s
    }

    .gallery li:hover {
        opacity: 0.9;
        transform: scale(1.1)
    }

    .gallery li img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        margin: 0 12px
    }

    .wrapper h1 {
        box-sizing: border-box;
        padding: 0;
        line-height: 55px
    }

    .wrapper-btn {
        width: 100%;
        padding: 10px 0;
        margin: 0 auto
    }

    .btn-intro {
        width: 40%;
        height: 55px;
        margin: 10px auto;
        color: #fff;
        padding: 10px;
        margin-top: 20px
    }

    .btn-saiba {
        background-color: transparent;
        width: 40%;
        height: 55px;
        border: 3px solid white;
        color: #fff;
        padding: 10px;
        margin-top: 20px
    }

    .btn-saiba:hover {
        background-color: #fff;
        color: #1C4183
    }

    .btn-quadro {
        width: 80%;
        height: 55px;
        color: #fff;
        margin: 25px auto
    }

    .btn-quadro:hover {
        background-color: #d06302;
        color: #fff
    }

    header .right a {
        margin: 0px 10px
    }

    header .right {
        width: 100%;
        text-align: center
    }

    header .logo {
        text-align: center;
        width: 100%
    }

    header .logo img {
        margin-top: 10px
    }

    header nav a {
        padding: 10px 0px;
        width: 142px
    }

    article img {
        max-width: 100%;
        text-align: center
    }

    .gallery li {
        margin: 5px
    }

    .js .slicknav_menu {
        display: block;
        z-index: 11
    }

    .js #menu {
        display: none
    }

    .js #menu2 {
        display: none
    }

    .contact-footer a {
        color: white;
        text-decoration: none
    }

    #servicosTabsDois .nav li a {
        padding: 10px
    }

    .col-m-1 {
        width: 8.33%
    }

    .col-m-2 {
        width: 16.66%
    }

    .col-m-3 {
        width: 25%
    }

    .col-m-4 {
        width: 50%
    }

    .col-m-5 {
        width: 41.66%
    }

    .col-m-6 {
        width: 50%
    }

    .col-m-7 {
        width: 58.33%
    }

    .col-m-8 {
        width: 66.66%
    }

    .col-m-9 {
        width: 75%
    }

    .col-m-10 {
        width: 83.33%
    }

    .col-m-11 {
        width: 91.66%
    }

    .col-m-12 {
        width: 100%
    }

    .hide-tablet {
        display: none
    }

    .topofixo {
        position: relative
    }

    #header-block {
        display: none
    }
}
@media only screen and (max-width: 765px) {
    .fundo-contato {
        display: none
    }

    .clear {
        display: none
    }

    .logo-top {
        display: none
    }

    .logo-mobile {
        display: block;
        margin: 0 auto
    }

    .form-flex {
        flex-direction: column;
        padding-left: 5px
    }

    .imagen-principal {
        display: none
    }

    .title-main h1 {
        margin-top: 5px;
        width: 100%;
        text-align: center
    }

    .box-produto .grid .col-3 a img {
        width: 183px;
        height: 183px;
        padding: 0 0 0 75px;
        margin: 0 auto
    }

    .busca-relacionadas {
        margin-bottom: 15px
    }

    .wrapper-main {
        height: auto;
        padding-bottom: 0
    }

    .wrapper {
        width: 100%
    }

    .wrapper-intro p {
        padding: 10px 0;
        width: 100%;
        padding-left: 10px;
        background-color: transparent;
        color: #fff;
        font-weight: 600
    }

    .main-content {
        width: auto;
        display: inline-block
    }

    .scroll-down {
        left: 50%
    }

    .col-2 {
        display: none
    }

    .col-1 {
        display: none
    }

    [class*="col-"] {
        width: 100%
    }

    .wrapper-footer {
        width: 100%;
        margin: 0 auto
    }

    .wrapper-copy {
        width: 100%;
        display: inline-block;
        margin: 0 auto
    }

    .quadro-1 {
        margin: 0 auto;
        -webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.3)
    }

    .quadro-2 {
        margin: 0 auto;
        border-radius: 5px;
        width: 50%
    }

    .btn-4 {
        color: #272727;
        overflow: hidden;
        margin: 70px auto
    }

    .conheca ul {
        margin: 0 auto;
        display: flex;
        max-width: 100%
    }

    .conheca-bloco li {
        float: left;
        width: 100px;
        margin: 10px 10px 30px 10px;
        text-align: center
    }

    .gallery {
        padding: 0;
        height: auto
    }

    .gallery ul {
        list-style-type: none;
        list-style: none;
        width: 100%;
        text-align: center;
        margin: 0;
        display: inline-block
    }

    .gallery li {
        padding: 0;
        text-align: center;
        display: inline-block
    }

    .incomplete-box {
        width: 95%;
        padding: 0 0;
        margin: 0 auto;
        height: auto;
        border: transparent;
        box-shadow: none;
        border-radius: 6px
    }

    .incomplete-box img {
        max-width: 340px;
        min-width: 300px
    }

    .incomplete-box h3 {
        font-size: 1.4em;
        text-transform: uppercase
    }

    .incomplete-box::after {
        display: none
    }

    .incomplete-box::before {
        display: none
    }

    .form-conteudo {
        width: 95%;
        height: auto
    }

    .form-conteudo-1 {
        width: 95%;
        height: auto;
        float: left;
        margin: 0;
        margin-left: 5px
    }

    .form-style-5 h1 {
        font-size: 1.6em;
        color: #595959;
        text-transform: uppercase;
        line-height: 1.2em;
        max-width: 100%;
        margin: 0 10px;
        padding: 0
    }

    .form-style-5 p {
        color: #595959;
        text-align: left;
        font-weight: 900;
        margin: 0 10px
    }

    .form-style-5 {
        background: #fff;
        display: block;
        margin: 0
    }

    .form-style-5 fieldset {
        width: 95%;
        border: none;
        padding: 10px 0px 0 10px;
        background-image: linear-gradient(to bottom, #2a2a2a, #131212)
    }

    .form-style-5 legend {
        font-size: 1.4em;
        margin-bottom: 10px
    }

    .form-style-5 label {
        display: block;
        margin-bottom: 8px
    }

    .form-style-5 input[type="text"],
    .form-style-5 input[type="date"],
    .form-style-5 input[type="datetime"],
    .form-style-5 input[type="email"],
    .form-style-5 input[type="number"],
    .form-style-5 input[type="search"],
    .form-style-5 input[type="time"],
    .form-style-5 input[type="url"],
    .form-style-5 select {
        background: #fff;
        border: 1px solid #000;
        font-size: 12px;
        outline: 0;
        height: 50px;
        padding: 0 5px;
        width: 95%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        color: #000;
        margin: 10px auto
    }

    .form-style-5 textarea {
        background: #fff;
        height: 200px;
        width: 95%;
        margin: 10px auto;
        border: 1px solid #000
    }

    .form-style-5 input[type="text"]:focus,
    .form-style-5 input[type="date"]:focus,
    .form-style-5 input[type="datetime"]:focus,
    .form-style-5 input[type="email"]:focus,
    .form-style-5 input[type="number"]:focus,
    .form-style-5 input[type="search"]:focus,
    .form-style-5 input[type="time"]:focus,
    .form-style-5 input[type="url"]:focus,
    .form-style-5 select:focus {
        background: #f1e9c9;
        height: 50px
    }

    .form-style-5 select {
        -webkit-appearance: menulist-button;
        height: 35px
    }

    .form-style-5 input[type="submit"],
    .form-style-5 input[type="button"] {
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        margin: 10px 0;
        border-width: 1px 1px 3px;
        min-width: 95%;
        height: 55px
    }

    .wrapper-intro {
        margin: 0 auto;
        background: url("../imagens/img-home/thumbs/home-main.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        font-family: 'Open Sans', sans-serif;
        height: auto;
        height: auto;
        min-height: 650px
    }

    .wrapper-intro h1 {
        font-size: 1.8em;
        letter-spacing: 12px;
        padding: 0 10px;
        margin-top: 50px;
        max-width: 100%
    }

    .wrapper-btn {
        padding: 10px;
        margin: 0 auto
    }

    .btn-intro {
        width: 51%;
        height: 25px;
        margin: 0px;
        padding: 10px
    }

    .btn-saiba {
        background-color: transparent;
        width: 99%;
        height: 55px;
        border: 3px solid #fff;
        color: #fff;
        margin-left: 0
    }

    .btn-saiba:hover {
        background-color: #fff;
        color: #333
    }

    .btn-quadro {
        background-color: transparent;
        width: 95%;
        height: 55px;
        border: 3px solid white;
        color: #fff;
        margin: 50px 10px
    }

    .btn-quadro:hover {
        background-color: #fff;
        color: #1C4183
    }

    .topofixo {
        position: relative
    }

    .owl-pagination {
        display: none
    }

    .title-breadcrumb h1 {
        box-sizing: border-box;
        padding: 5px
    }

    .title-breadcrumb #breadcrumb {
        float: none
    }

    header .topo .social {
        display: none
    }

    header .logo a {
        margin: 0 auto
    }

    header .logo {
        width: 100%;
        display: block;
        text-align: center
    }

    header .logo img {
        margin-top: 20px;
        max-width: 100%
    }

    header .right {
        width: 100%;
        text-align: center
    }

    .topo .fright {
        float: none
    }

    .topo {
        text-align: center
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column
    }

    aside {
        width: 100%;
        margin: 0
    }

    .gallery {
        max-width: 400px;
        width: 95%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto
    }

    .gallery img {
        margin: 10px 5px;
        width: 100%
    }

    .gallery li img {
        margin: 0 auto
    }

    .gallery li {
        margin: 10px 0px
    }

    .thumbnails li {
        width: 100%;
        margin: 50px 50px
    }

    .thumbnails {
        width: 100%;
        box-sizing: border-box;
        padding: 10px
    }

    .thumbnails img {
        width: 100%
    }

    footer .wrapper {
        text-align: center
    }

    .copyright-footer {
        text-align: center
    }

    footer .menu-footer nav li {
        display: block;
        background: rgba(0, 0, 0, 0.2);
        margin: 10px 0px;
        text-align: center;
        padding: 10px 20px
    }

    .contact-footer {
        float: none
    }

    footer .social {
        float: none;
        width: 100%
    }

    .copyright-footer .selos {
        float: none
    }

    .copyright-footer .selos a {
        float: none;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px 0px;
        margin: 10px 30px
    }

    footer .social .social-icons {
        float: none;
        padding: 10px 0px;
        margin: 10px 0px;
        width: 100%;
        text-align: center
    }

    .contact-footer a {
        color: white;
        text-decoration: none
    }

    .contact-footer {
        margin-right: 0
    }

    .js #menu {
        display: none
    }

    .js #menu2 {
        display: none
    }

    .js .slicknav_menu {
        display: block;
        height: 100%
    }

    #servicosTabsDois .nav li a {
        padding: 8px;
        font-size: 13px;
        width: 100%
    }

    .hide-mobile {
        display: none
    }

    .contact {
        padding: 0
    }

    .form {
        width: 100%
    }

    .contact-form {
        float: none;
        width: 100%
    }

    #header-block {
        display: none
    }
}
@media only screen and (max-width: 480px) {
    .grid {
        width: 360px;
        max-width: 100%
    }

    .center-footer {
        margin-right: 1 !important;
        display: inline-flex;
        flex-direction: column;
        margin-top: 20px !important
    }

    .quadro-icons {
        margin: 10px auto;
        border-radius: 6px;
        min-width: 100%
    }

    .mpi-produtos-2 p {
        padding: 0 40px
    }

    .mpi-produtos-1 img {
        max-width: 100%
    }

    .title-main h1 {
        margin-top: 5px;
        font-size: 23px;
        width: 100%;
        text-align: center
    }

    .mpi-produtos-2 img {
        max-width: 100%
    }

    .produtos-relacionados-1 a {
        width: 100%
    }

    .produtos-relacionados-2 a {
        width: 100%
    }

    .produtos-relacionados-3 a {
        width: 100%
    }

    .incomplete-box p {
        color: #ffcd24;
        padding: 0 10px
    }

    input[type="submit"],
    input[type="button"] {
        margin-left: 0
    }

    .fig-img {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        max-width: 100%;
        height: 100%;
        float: right;
        padding: 10px;
        text-align: right
    }

    .fig-img h2 {
        opacity: 1;
        color: #fff;
        text-transform: uppercase;
        margin-top: 65px;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        font-weight: 700
    }

    .fig-img2 {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        width: 400px;
        max-width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-align: left
    }

    .fig-img2 h2 {
        opacity: 1;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        font-weight: 700
    }

    #content-icons {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: column;
        clear: both
    }

    .btn-5 {
        margin: 50px auto
    }

    .btn-6 {
        margin: 50px auto
    }

    .imagen-principal {
        display: none
    }

    .content {
        position: relative;
        margin: 0 auto
    }

    #breadcrumb {
        margin: 10px auto
    }

    .wrapper-img {
        width: 100%;
        margin: 20px 0 0px 0;
        height: 450px
    }

    .imagen-principal {
        margin-right: 0px;
        width: 25%;
        height: 25%
    }

    .destaque {
        border-radius: 0;
        max-width: 95%
    }

    .main-center {
        max-width: 100%;
        flex-direction: column
    }

    .wrapper-img {
        width: 100%;
        height: auto
    }

    .main-content p {
        max-width: 100%;
        margin: 0;
        padding: 5px 0
    }

    #fundo-contato {
        display: none
    }

    embed {
        max-width: 420px;
        min-width: 260px;
        height: 225px;
        min-height: 225px
    }

    .wrapper-intro .wrapper {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 0;
        max-height: 625px;
        display: flex;
        flex-direction: column
    }

    .wrapper-intro h2 {
        padding: 0 9.5px
    }

    .fundo-contato {
        display: none
    }

    .quadro-2 {
        box-shadow: none;
        width: 95%;
        padding: 0 0;
        margin: 10px auto
    }

    .thumbnails h2 {
        position: relative;
        margin: 0 auto !important
    }

    img.lazy {
        will-change: opacity;
        transition: all 1s
    }

    img.lazy.loaded {
        opacity: 1
    }

    .arrumaImgVideo {
        width: 100%;
        height: 225px;
        object-fit: cover
    }

    .svgVideo {
        position: relative;
        top: -130px
    }

    .iframe-lightbox-link:hover .svgVideo path {
        fill: red
    }

    .nMudaCor {
        fill: #fff !important
    }
}
@media only screen and (max-width: 480px) and (max-width: 767px) {
    .svgVideo {
        width: 20% !important;
        margin: 0 auto;
        left: 50%;
        margin-left: -30px
    }
}
@media only screen and (max-width: 480px) {
    .col-2 {
        display: none
    }

    .col-1 {
        display: none
    }

    .form-flex {
        padding-left: 15px
    }

    .video-flex {
        display: block;
        min-width: 100%
    }

    .busca-relacionadas {
        margin-bottom: 40px;
        clear: both
    }

    [class*="col-"] {
        width: 100%
    }

    #slide-show {
        height: 880px
    }

    .form-style-5 {
        margin-top: 5px;
        width: 95%;
        margin: 0 auto
    }

    .form-style-5 h2 {
        margin: 0
    }

    .btn-quadro-menu {
        width: 50px;
        height: 55px
    }

    .btn-quadro-menu:hover {
        background-color: #fff;
        color: #ecf0f1
    }

    .article {
        display: block
    }
}
@media only screen and (max-width: 765px) {
    .imagem-conteudo {
        width: 90% !important;
        float: none;
        margin: 15px auto
    }

    .topo,
    header .logo,
    header .right {
        text-align: center
    }

    #scrollUp {
        display: none
    }

    footer ul li {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.5);
        margin: 5px 0
    }

    footer .btn-azul,
    footer .btn-verde {
        width: 80%;
        margin: 0 5px
    }

    .box-footer,
    .box-footer-menor {
        float: none;
        margin: 10px 0;
        width: 100%
    }

    .box-produto .botao {
        margin: 10px 0;
        padding: 10px
    }

    .owl-pagination,
    .bg-buscar input {
        width: 92%
    }

    .bg-buscar {
        width: 91%;
        margin: 5px
    }

    .video-flex {
        display: block;
        width: 100%
    }

    .thumbnails h2 {
        position: relative;
        margin: 0 auto !important
    }

    .thumbnails li .botao,
    .thumbnails li .botao-cotar {
        position: relative;
        margin: 0 auto;
        justify-content: center
    }

    .gallery img,
    article,
    aside,
    .title-breadcrumb h1 {
        box-sizing: border-box;
        padding: 5px;
        margin: 0 auto
    }

    .title-breadcrumb #breadcrumb {
        float: none
    }

    .topo .fright {
        float: none
    }

    section img {
        max-width: 100%;
        box-shadow: none
    }

    aside {
        margin: 0;
        display: none !important
    }

    .gallery li {
        width: 45%
    }

    .thumbnails li {
        width: 90%;
        margin: 10px 0
    }

    .thumbnails {
        width: 100%;
        box-sizing: border-box;
        padding: 10px
    }

    .thumbnails img {
        width: 100%
    }

    footer .wrapper {
        text-align: center
    }

    .copyright-footer,
    .copyright-footer .wrapper,
    footer .menu-footer nav li {
        text-align: center
    }

    footer .menu-footer nav li {
        display: block;
        background: rgba(0, 0, 0, 0.2);
        margin: 10px 0;
        padding: 10px
    }

    footer .social {
        float: none;
        width: 100%
    }

    .copyright-footer .selos {
        float: none;
        margin: 10px 0
    }

    .copyright-footer .selos a {
        float: none;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        margin: 10px 0
    }

    footer .social .social-icons {
        float: none;
        padding: 10px 0;
        margin: 10px 0;
        width: 100%;
        text-align: center
    }

    .contact-footer a {
        color: #fff;
        text-decoration: none
    }

    .contact-footer {
        float: none;
        margin-right: 0
    }

    #servicosTabsDois .nav li a {
        padding: 8px;
        font-size: 13px;
        width: 100%
    }

    #select-mapa {
        display: block;
        border: 1px solid #ccc;
        width: 100%
    }

    .hide-mobile,
    .mapa {
        display: none
    }

    .representante {
        width: 100%
    }

    .contact {
        padding: 0;
        width: 100%
    }

    .form {
        width: 100%
    }

    .contact-form {
        float: none;
        width: 100%
    }
}
@media only screen and (max-width: 480px) {
    [class*=col-] {
        max-width: 100%;
        width: 360px
    }

    #slide-show {
        height: 880px
    }
}
@media only screen and (min-width: 768px) {
    .cd-hero-slider {
        height: 502px
    }
}
@media only screen and (min-width: 1170px) {
    .cd-hero-slider {
        height: 100vh
    }
}
@media only screen and (max-width: 767px) {

    .cd-hero img,
    .cd-slider-nav {
        display: none
    }

    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 57px
    }

    .cd-hero-slider p {
        width: 100%;
        font-size: 14px !important
    }

    .cd-hero-slider h2 {
        margin: 10px 0;
        width: 100%;
        font-size: 16px
    }

    .cd-hero-slider .cd-btn {
        float: none;
        width: 51%
    }
}
@media only screen and (min-width: 768px) {

    .cd-hero-slider .cd-bg-video-wrapper,
    .cd-hero-slider .cd-img-container {
        display: block
    }

    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 14%
    }

    .cd-hero-slider .cd-half-width {
        width: 45%
    }

    .cd-hero-slider .cd-half-width:first-of-type {
        left: 5%
    }

    .cd-hero-slider .cd-half-width:nth-of-type(2) {
        right: 5%;
        left: auto
    }

    .cd-hero-slider h2,
    .cd-hero-slider p {
        width: 75%;
        font-size: 15px;
        margin-top: 34px;
        margin-bottom: 21px
    }

    .cd-hero-slider h2 {
        font-size: 1.3em;
        font-weight: 700;
        text-align: left
    }

    .cd-hero-slider .cd-btn {
        font-size: 1rem;
        height: 24px;
        margin-right: 18px;
        width: 128px;
        border: 1px solid #1e2f36
    }

    .title-main h1 {
        margin-top: 93px;
        margin-left: 92px
    }
}
@media only screen and (min-width: 1170px) {

    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 250px
    }

    .cd-hero-slider h2,
    .cd-hero-slider p {
        margin-bottom: 20px
    }

    .cd-hero-slider h2 {
        font-size: 1.6em
    }

    .cd-hero-slider p {
        font-size: 1.2rem
    }
}
@media only screen and (min-width: 768px) {
    .cd-slider-nav {
        height: 60px
    }

    .cd-slider-nav .cd-marker,
    .cd-slider-nav li {
        width: 80px
    }

    .cd-slider-nav a {
        padding-top: 20px;
        height: 34px;
        padding-bottom: 6px;
        font-size: 1.1rem;
        text-transform: uppercase
    }

    .cd-slider-nav a::before {
        top: 18px
    }
}
@media only screen and (min-width: 1170px) {
    .cd-main-content {
        padding: 3em 0
    }

    .cd-main-content p {
        font-size: 1.6rem
    }
}
@media only screen and (max-width: 480px) {
    .video-mpi {
        width: 90%;
        display: flex;
        margin: 0 auto;
        border: red
    }
}
@media (max-width: 768px) {
    .aside-mpi {
        display: flex
    }

    .api-mobile {
        display: block
    }

    .api-mobile .btn-produto {
        width: 100vw;
        position: fixed;
        bottom: 0;
        font-size: 25px;
        margin: 0;
        padding: 19px;
        display: flex;
        justify-content: center
    }

    .btn-cotar {
        margin: 5%;
        width: 100%
    }

    .modal-title .col-11 {
        width: 80%
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .btn-cotar {
        font-size: 11px !important
    }
}
@media (max-width: 767px) {
    .svgVideo {
        width: 20% !important;
        margin: 0 auto;
        left: 50%;
        margin-left: -30px
    }
}
@media only screen and (max-width: 765px) {
    .thumbnails-mod1 {
        text-align: center;
        width: 100%;
    }

    .thumbnails-mod1 li {
        margin: 20px auto;
        float: none;
    }
}
@media only screen and (max-width: 765px) {

    #cotacao-modal .cotacao-modal-content {
        position: relative;
        background: #eee;
        width: 100vw;
        border: 1px solid #aaa;
        box-sizing: border-box;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
        height: 75vh;
    }
}
@media screen and (max-width: 768px) {
    .img-center {
        flex-direction: column;
    }

    .article-content .img-right {
        float: none;
        display: flex;
        justify-content: center;
    }

    .article-content .img-left {
        float: none;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1024px) {

    .table-3-column th,
    .table-3-column td {
        font-size: 12px;
    }

    .table-3-column th {
        border: 1px solid #444141;
    }

    .table-3-column td:first-child {
        border-top: 1px solid #444141;
    }

    .table-3-column thead tr:first-child th {
        position: sticky;
        top: 0;
    }

    .table-3-column table {
        border-collapse: collapse;
        width: 100%;
        margin: 15px 0px 35px 0px;
        overflow-x: auto;
        overflow-y: auto;
        height: 70vh;
        display: block;
    }

    .table-3-column td,
    .table-3-column th {
        text-align: left;
    }

    .table-3-column table::-webkit-scrollbar {
        height: 10px;
    }

    .table-3-column thead {
        background-color: #118900;
        color: white;
    }

    .table-3-column td:hover {
        background-color: #d7d7d7;
    }
}
@media only screen and (max-width: 480px) {
    .busca-relacionadas {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width: 768px) {
    ol.breadcrumb {
        flex-direction: column;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 600px) {
    details.webktbox summary:before {
        font-size: 16px;
        padding: 6px;
    }

    details.webktbox[open] summary:before {
        font-size: 16px;
        width: 90%;
        padding: 6px;
        top: 97.5%;
    }
}
@media only screen and (max-width: 765px) {
    .produtos-e-servicos-relacionados li {
        display: block;
    }

    .thumbnails-mod1 {
        display: block;
    }
}
