/* ==========================================================================Base 
styles========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --color-primary: #fff;
  --color-secundary: #012f73;
  --color-tertiary: #3ebd5d;
  --grey: #5c5c5c;
  --dark: #404040;
  --light: #f0f0f0;
  --alert: #b31610;
  --success: #4caf50;
  --border-radius: 0.25em;
  --border-color: #dee2e6;
  --wrapper-width: 1180px;
  --slider-height: 527.97px;
}

.bg-color {
  background: var(--cor-pretopantone);
}
m {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.clear {
  clear: both;
}

/** A better looking default horizontal rule*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/** Remove the gap between images, videos, audio and canvas and the bottom of* their containers: h5bp.com/i/440*/
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/** Remove default fieldset styles.*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/** Allow only vertical resizing of textareas.*/
textarea {
  resize: vertical;
}

/*SCROLL ASIDE*/
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 8px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #3f484e;
}

/*END SCROLL ASIDE*/

/*==========================================================================Geral==========================================================================*/
body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #444;
}

h1 {
  color: #1b2124;
  font-size: 24px;
  text-decoration: none;
  margin: 20px 0;
}

h2 {
  font-size: inherit;
  text-decoration: none;
  color: var(--cor-principaldocliente);
}

.white {
  color: white;
}

h3,
h4 {
  font-size: 12px;
  color: #3f484e;
  text-decoration: none;
  margin: 15px 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.tel {
  text-decoration: none;
  color: inherit;
  display: block;
}

/*==================================================Header==================================================*/
.topofixo {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0px;
  background-color: #f1eeeee8;
  height: auto;
}

.topofixo .logo img {
  width: 80px;
  transition: 0.3s;
}

.topofixo #menu2 {
  font-size: 14px;
  margin: 18px 0;
  margin-right: 10px;
}

.topofixo .topo {
  display: none;
}

header .logo {
  width: 120px;
}

header .logo img {
  display: block;
  margin: 0.7rem auto;
  width: 100%;
  max-width: 90px;
  height: auto;
}

header .right {
  float: right;
  text-align: right;
  color: #666;
  font-size: 12px;
  margin: 17px 0px;
}

header .right strong {
  font-size: 20px;
}

/* TOPO MOBILE */

/* HIDE ON DESKTOP */

.show-mobile {
  display: none;
}

.social-inline {
  display: inline;
}

.flex-top-icons {
  display: none;
}

/* SHOW ON MOBILE */
@media only screen and (max-width: 765px) {
  .d-block {
    display: inline !important;
  }

  span.galeria-ilustrativa {
    right: -13px !important;
    bottom: 849px !important;
  }

  .box-img-random {
    display: flex;
    justify-content: center;
  }

  .botao-cotar {
    padding: 10px 15px !important;
  }

  .slick-banner .slick-slide:not(a) div p {
    text-align: center;
  }

  .show-mobile {
    display: block;
  }

  .flex-top-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-top-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
  }

  .flex-wrap-mobile-phone {
    flex-wrap: wrap;
  }

  /*.flex-top-icons a:first-child{
        background: rgba(255, 255, 255, 0.1);
        color: white;
    }
    .flex-top-icons a:nth-child(2){
        background: rgba(255, 255, 255, 0.1);
        color: white;
    }*/
}

/* END TOPO MOBILE */

/*==================================================Menu==================================================*/
header #menu {
  clear: both;
  position: relative;
  background: #e4e4e4;
  font-size: 15px;
  text-align: center;
}

header #menu li {
  position: relative;
  display: inline-block;
}

header #menu a {
  display: block;
  color: #666;
  text-decoration: none;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.3s linear;
  /* Efeito de Transição dos itens do header #menu e sub-header #menu */
}

header #menu a:hover,
header #menu li:hover a {
  color: #fff;
  background: #3f484e;
}

header #menu table {
  border-collapse: collapse;
  position: absolute;
  left: 0;
  top: 0;
}

header #menu .dropdown .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  height: auto;
  width: 230px;
  z-index: 7;
  background: #3f484e;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

header #menu .dropdown:hover .sub-menu {
  display: block;
}

header #menu .dropdown:hover .sub-menu li {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

header #menu .dropdown:hover .sub-menu li a {
  display: block;
  width: 100%;
  font-size: 13px;
  padding: 5px;
  height: auto;
  text-align: left;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}

header #menu .dropdown:hover .sub-menu li a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  /* text-decoration:underline; */
}

header #menu .dropdown ul li.dropdown .sub-menu {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  margin: 0;
  height: auto;
  width: 190px;
  z-index: 7;
}

header #menu .dropdown ul li.dropdown:hover .sub-menu {
  display: block;
}

header #menu .dropdown .sub-menu-info {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  height: 400px;
  width: 300px;
  z-index: 7;
  background: #3f484e;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

header #menu .dropdown:hover .sub-menu-info {
  display: block;
}

header #menu .dropdown:hover .sub-menu-info li {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

header #menu .dropdown:hover .sub-menu-info li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  padding: 5px;
  height: auto;
  text-align: left;
  text-decoration: none;
  color: #fff;
}

header #menu .dropdown:hover .sub-menu-info li a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

header #menu .dropdown ul li.dropdown .sub-menu-info {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  margin: 0;
  height: auto;
  width: 190px;
  z-index: 7;
}

header #menu .dropdown ul li.dropdown:hover .sub-menu-info {
  display: block;
}

header #menu2 {
  text-align: center;
  float: right;
}

header #menu2 li {
  position: relative;
  display: inline-block;
}
header #menu2 li a i {
  transform: rotate(-90deg); /* Rotaciona o elemento para cima */
  transition: transform 0.5s ease; /* Suaviza a transição da rotação */
}

header #menu2 a {
  font-size: 1rem;
  display: flex;
  font-weight: 500;
  flex-direction: row-reverse;
  gap: 10px;
  color: #273240;
  text-decoration: none;
  padding: 8px 30px;
  text-align: center;
  transition: all 0.3s linear;
  transform: 0.5s;
  /* Efeito de Transição dos itens do header #menu2 e sub-header #menu2 */
  text-transform: math-auto;
}

header #menu2 a:hover,
header #menu2 li:hover a {
    color: var(--cor-pretopantone);
}

header #menu2 li:hover a i {
    transform: rotate(0deg);
}

header #menu2 li:hover a .d-block {
  color: var(--cor-pretopantone);
}

header #menu2 table {
  border-collapse: collapse;
  position: absolute;
  left: 0;
  top: 0;
}

header #menu2 .dropdown [class*="sub-menu"] {
  display: none;
  position: absolute;
  top: 100%;
  left: 25px;
  margin: 0;
  height: auto;
  width: 250px;
  /* height: 340px; */
  /* overflow-x: hidden; */
  z-index: 7;
  background-color: #ececec;
  box-sizing: border-box;
  border-radius: 2px;
}

header #menu2 .dropdown [class*="sub-menu-info"] {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 400px;
}

header #menu2 .dropdown:hover > [class*="sub-menu"] {
  display: block;
  padding: 5px;
}

header #menu2 .dropdown:hover [class*="sub-menu"] li {
  position: relative;
  width: 100%;
  margin: 0;
}

header #menu2 .dropdown:hover [class*="sub-menu"] li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
  color: #2d2d2f;
  font-size: 1rem;
  text-transform: uppercase;
  height: auto;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: all 0.4s;
}

header #menu2 .dropdown:hover [class*="sub-menu"] li a:hover {
  background: rgba(0, 0, 0, .2);
  color: var(--cor-pretopantone);
  /* text-decoration:underline; */
}

header #menu2 .dropdown [class*="sub-menu"] [class*="sub-menu"] {
  top: 0px;
  left: -98%;
  position: absolute;
  border: unset;
  display: block;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

/*==================================================Content==================================================*/

/*================================================== TIMELINE ===============================================*/
.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  border-width: 1px;
  border-style: dotted;
  border-color: #3f484e;
}

.timeline__header {
  position: relative;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  margin-bottom: 50px;
  z-index: 9;
}

.timeline__header::before {
  content: "";
  position: absolute;
  height: 0;
  top: 100%;
  left: 50%;
  z-index: 1;
  border: medium solid #3f484e;
  border-width: 10px 10px 0px 10px;
  border-color: #3f484e transparent transparent transparent;
  transform: translateX(-50%);
}

.timeline__header__content {
  background: white;
  border: 1px solid #3f484e;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 5px;
  transition: all 300ms;
}

.timeline__header__content::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  background: #3f484e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline__header__content:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.timeline__container {
  position: relative;
  width: 50%;
}

.timeline__container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  background: #3f484e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.timeline__left p,
.timeline__left h2,
.timeline__left h3,
.timeline__left h4,
.timeline__left h5,
.timeline__left h6 {
  text-align: right;
}

.timeline__left {
  left: 0;
  padding: 10px 40px;
  box-sizing: border-box;
}

.timeline__right {
  left: 50%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.timeline__right::before {
  content: "";
  position: absolute;
  height: 0;
  top: 50%;
  left: 30px;
  z-index: 1;
  border: medium solid #3f484e;
  border-width: 10px 10px 10px 0;
  border-color: transparent #3f484e transparent transparent;
  transform: translateY(-50%);
}

.timeline__left::before {
  content: "";
  position: absolute;
  height: 0;
  top: 50%;
  right: 30px;
  z-index: 1;
  border: medium solid #3f484e;
  border-width: 10px 0px 10px 10px;
  border-color: transparent transparent transparent #3f484e;
  transform: translateY(-50%);
}

.timeline__right::after {
  left: -5px;
}

.timeline__content {
  background: white;
  border: 1px solid #3f484e;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 5px;
  transition: all 300ms;
}

.timeline__content:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.timeline__footer {
  position: relative;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  margin-top: 50px;
  z-index: 9;
}

.timeline__footer::before {
  content: "";
  position: absolute;
  height: 0;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  border: medium solid #3f484e;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #3f484e transparent;
  transform: translateX(-50%);
}

.timeline__footer__content:after {
  content: "";
  position: absolute;
  bottom: 130%;
  left: 50%;
  background: #3f484e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline__footer__content {
  background: white;
  border: 1px solid #3f484e;
  box-sizing: border-box;
  padding: 0 10px;
  transition: all 300ms;
  border-radius: 5px;
}

.timeline__footer__content p,
.timeline__footer__content h2,
.timeline__footer__content h3,
.timeline__footer__content h4,
.timeline__footer__content h5,
.timeline__footer__content h6,
.timeline__footer__content img,
.timeline__header__content p,
.timeline__header__content h2,
.timeline__header__content h3,
.timeline__header__content h4,
.timeline__header__content h5,
.timeline__header__content h6,
.timeline__header__content img {
  text-align: center;
}

.timeline__footer__content:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
  .timeline::after {
    left: 10px;
  }

  .timeline__container {
    width: 100%;
  }

  .timeline__container::before,
  .timeline__header::before,
  .timeline__footer::before {
    left: 30px;
    right: unset;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f99d1c transparent transparent;
  }

  .timeline__header::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline__container::after {
    left: -5px;
    right: unset;
  }

  .timeline__header__content::after {
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
  }

  .timeline__footer,
  .timeline__header {
    margin: 10px 0;
    left: 10px;
  }

  .timeline__footer::before {
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

  .timeline__footer__content::after {
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
  }

  .timeline__left p,
  .timeline__left h2,
  .timeline__left h3,
  .timeline__left h4,
  .timeline__left h5,
  .timeline__left h6,
  .timeline__footer__content p,
  .timeline__footer__content h2,
  .timeline__footer__content h3,
  .timeline__footer__content h4,
  .timeline__footer__content h5,
  .timeline__footer__content h6,
  .timeline__header__content p,
  .timeline__header__content h2,
  .timeline__header__content h3,
  .timeline__header__content h4,
  .timeline__header__content h5,
  .timeline__header__content h6 {
    text-align: left;
  }

  .timeline__left,
  .timeline__right,
  .timeline__header {
    left: 10px;
  }

  .timeline__right {
    left: 10px;
  }
}

/*==================================================FIM TIMELINE============================================ */
.wrapper {
  max-width: var(--wrapper-width);
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

section {
  width: 100%;
  padding: 0;
  min-height: 340px;
}

section p,
section ul li {
  font-size: 14px;
  text-align: justify;
}

article {
  float: left;
  width: 70%;
}

article p {
  margin: 1.5em 0;
}

article strong {
  font-weight: 700;
}

article.full {
  width: 100%;
}

article .alerta {
  font-size: 12px;
  color: #444;
  font-weight: bold;
}

.title-breadcrumb {
  background: #3f484e;
  box-sizing: border-box;
  padding: 20px 0;
  margin-bottom: 30px;
}

.title-breadcrumb h1 {
  color: white;
  margin: 0;
}

.title-breadcrumb #breadcrumb {
  width: auto;
  margin-top: 0px;
  float: right;
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.title-breadcrumb #breadcrumb a {
  color: #666;
  text-decoration: none;
}

.title-breadcrumb #breadcrumb a:hover {
  color: #bbb;
  text-decoration: none;
}

#breadcrumb a {
  color: #666;
  text-decoration: none;
}

#breadcrumb a:hover {
  color: #bbb;
  text-decoration: none;
}

.list {
  margin: 0 0 20px 40px;
}

.list li {
  list-style: disc;
  margin: 5px 0;
  line-height: 1.5em;
  /*font-size: 14px;*/
}

.picture-legend {
  background: #eee;
  display: inline-block;
  padding: 3px;
}

.picture-legend strong {
  clear: both;
  display: block;
  text-align: right;
  font-weight: normal;
  padding: 4px;
  font-size: 9px;
}

.picture-legend img {
  margin: 0 auto;
  display: block;
  height: 200px;
  width: 200px;
}

.picture-left {
  float: left;
  margin: 0 10px 0 0;
  max-width: 50%;
}

.picture-right {
  float: right;
  margin: 0 0 0 10px;
  max-width: 50%;
}

.picture-center {
  margin: 0 auto;
  display: block;
}

.btn {
  text-decoration: none;
  color: #fff;
  background: var(--cor-principaldocliente);
  padding: 10px 15px;
  box-sizing: border-box;
  margin: 10px auto;
  font-size: 14px;
  display: inline-block;
  border-radius: 3px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.topo {
  background: #3f484e;
  color: white;
  font-size: 13px;
  padding: 8px 10px;
}

.topo a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header .topo .social {
  display: inline-block;
  float: right;
}

.conteudo-index {
  background: #efefef;
  box-sizing: border-box;
  padding: 10px 0px;
}

.conteudo-index h2,
.conteudo-index h1 {
  color: #444;
}

.conteudo-index p {
  color: #444;
}

/*==================================================Thumbnails==================================================*/
.thumbnails-mod6 {
  display: inline-block;
  list-style: none;
  list-style-type: none;
}

.thumbnails-mod6 li {
  float: left;
  border: 2px solid #c7c7c9;
  width: 180px;
  height: 230px;
  margin: 10px 8px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
}

.thumbnails-mod6 li:hover {
  border: 2px solid #9f9fa0;
  box-shadow: 2px 2px 2px #9f9fa0;
}

.thumbnails-mod6 li:hover img {
  opacity: 0.9;
}

.thumbnails-mod6 img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  transition: 0.2s;
}

.thumbnails-mod6 li:hover h2 {
  opacity: 0.9;
}

.thumbnails-mod6 h2 {
  font-size: 10px;
  height: 32px;
  padding: 8px 0px;
  margin-top: 0;
  border-top: 2px solid #ccc;
}

.thumbnails-mod6 a {
  text-decoration: none;
  color: #666;
}

.thumbnails-mod6 a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 765px) {
  .logo {
    padding: 10px 0px;
  }

  .thumbnails-mod6 {
    text-align: center;
    width: 100%;
  }

  .thumbnails-mod6 li {
    margin: 20px auto;
    float: none;
  }

  .main-mpi-container {
    padding: 0px 10px !important;
  }

  .table-info {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.thumbnails {
  display: inline-block;
  list-style: none;
  list-style-type: none;
}
.thumbnails a:hover {
  text-decoration: none;
}

/*==================================================Sidebar==================================================*/
aside {
  float: left;
  width: 25%;
  margin: 0 0 0 30px;
  text-transform: uppercase;
}

aside h2 a {
  display: block;
  padding: 5px;
  font-size: 15px;
  background-color: var(--color-secundary);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

aside nav {
  list-style: none;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
}

aside nav > ul > li > ul {
  display: none;
}

aside li {
  margin: 5px 0 0 0;
}

aside li a {
  font-size: 12px;
  display: block;
  padding: 5px;
  color: #666;
  transition: all 0.3s linear;
  text-decoration: none;
  border-left: 2px solid var(--color-secundary);
}

aside nav li a:hover {
  border-left: 2px solid #000;
}

aside h3 {
  color: #fff;
  background: #3f484e;
  padding: 10px 0;
  margin-bottom: 0;
  text-align: center;
}

aside p {
  margin: 0;
  text-align: center;
}

aside strong {
  font-size: 16px;
  line-height: 34px;
  color: #666;
}

aside a {
  text-decoration: none;
}

/*==================================================Aside Full bottom===========================================*/
aside.aside-full {
  float: left;
  width: 100%;
  margin: 0 0 0 0px;
  text-transform: uppercase;
}

aside.aside-full nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

aside.aside-full h2 a {
  display: block;
  padding: 5px;
  font-size: 15px;
  background: #0ca9e3;
  color: #fff;
  text-decoration: none;
}

aside.aside-full nav {
  list-style: none;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  max-height: 210px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
}

aside.aside-full nav > ul > li > ul {
  display: none;
}

aside.aside-full li {
  margin: 5px 0 0 0;
}

aside.aside-full li a {
  font-size: 12px;
  display: block;
  padding: 5px;
  color: #666;
  transition: all 0.3s linear;
  text-decoration: none;
  border-left: 2px solid #cccccc;
}

aside.aside-full nav li a:hover {
  border-left: 2px solid #000;
}

aside.aside-full h3 {
  color: #fff;
  background: #0ca9e3;
  padding: 10px 0;
  margin-bottom: 0;
  text-align: center;
}

aside.aside-full p {
  background: #eee;
  margin: 0;
  text-align: center;
}

aside.aside-full strong {
  font-size: 16px;
  line-height: 34px;
  color: #666;
}

aside.aside-full a {
  text-decoration: none;
}

/*==================================================Includes==================================================*/

/*  Saiba mais */
.more {
  margin-bottom: 20px;
}

.more h2 strong {
  font-size: 16px;
}

/*  Gallery  */
.gallery {
  display: inline-block;
  list-style-type: none;
  list-style: none;
}

.gallery li {
  float: left;
  margin: 5px;
  text-align: center;
  transition: 0.3s;
}

.gallery li:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.gallery li img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #ddd;
}

p.ampliar {
  color: #f30;
  font-size: 11px;
  margin: 5px 0;
}

/*  Social midia  */
.compartilhe {
  font-size: 0.75em;
  margin: 0.5em 0;
  display: block;
  font-weight: bold;
}

.social-media {
  display: inline-block;
  padding: 0;
  margin: 5px 0;
}

.social-media li {
  float: left;
  margin-right: 10px;
}

.bt-twitter {
  text-indent: -5000px;
  overflow: hidden;
  display: block;
  width: 55px;
  height: 20px;
  background: url(../imagens/icones/tweet.png) no-repeat 0 0;
}

.bt-twitter:hover {
  background-position: 0px -20px;
}

/*  Páginas relacionadas  */
.related-posting-title {
  font-size: 22px;
}

.related-posting {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  clear: both;
  display: block;
  padding: 10px 20px;
  transition: all 0.3s linear;
  min-height: 85px;
  margin: 0 0 2px 0;
  overflow: hidden;
}

.row:hover {
}

.row img {
  display: block;
  float: left;
  width: 80px;
  /* height: 80px; */
  border: 1px solid #ccc;
  margin: 0 10px 0 0;
}

.row p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
}

.row a {
  color: #666;
  text-decoration: none;
}

.row p a {
  color: #69747b;
}

.row strong {
  font-size: 12px;
}

/*  Tabs regiões  */
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#servicosTabsDois .list-wrap {
  background: #eee;
  padding: 10px;
  margin: 0 0 15px 0;
  font-size: 10px;
  height: auto !important;
}

#servicosTabsDois ul {
  list-style: none;
  display: inline-block;
}

#servicosTabsDois .list-wrap li {
  width: 160px;
  float: left;
  color: #666;
}

#servicosTabsDois .list-wrap li strong {
  font-size: 11px;
}

#servicosTabsDois .nav {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#servicosTabsDois .nav li {
  float: left;
  margin: 0 10px 0 0;
}

#servicosTabsDois .nav li.last {
  margin-right: 0;
}

#servicosTabsDois .nav li a {
  display: block;
  text-decoration: none;
  padding: 12px;
  background: #ddd;
  transition: all 0.3s linear;
  color: #666;
  font-size: 12px;
  text-align: center;
  border: 0;
}

#servicosTabsDois .nav li a:hover,
#servicosTabsDois .nav li a:focus {
  background: #999;
  color: #fff;
}

#servicosTabsDois ul li.nav-two a.current {
  background-color: #eee !important;
  color: #666;
}

/*  Copyright  */
.copyright {
  font-size: 10px;
  color: #666;
  margin-bottom: 15px;
}

.copyright a {
  font-size: 10px;
  color: #666;
}

/*==================================================Footer==================================================*/
footer {
  clear: both;
  padding: 15px;
  background-color: var(--cor-principaldocliente);
  font-family: "Poppins";
}

.contact-footer {
  float: left;
  color: #eee;
  margin-right: 30px;
}

.contact-footer strong {
  font-size: 18px;
  /* letter-spacing: -1px; */
}

.contact-footer a {
  text-decoration: none;
  color: #fff;
  line-height: 25px;
}

footer address {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  color: var(--white);
}

footer address span {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: bold;
  display: block;
  color: var(--white);
}

footer .menu-footer {
  text-align: right;
}

footer .menu-footer nav {
  margin: 3px 0;
}

footer .menu-footer nav li {
  display: inline;
  padding: 0 10px 0 0;
}

footer .menu-footer nav li:last-of-type {
  padding: 0;
}

footer .menu-footer nav li a {
  color: var(--white);
  font-size: 13px;
  text-decoration: none;
}

footer .menu-footer nav li a:hover {
  color: #bbb;
}

footer .social {
  margin: 15px 0 0 0;
  float: right;
}

footer .social .social-icons:hover {
  opacity: 1;
  background: #fff;
  color: #3f484e;
}

footer .social .social-icons {
  width: auto;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 5px;
  float: right;
  font-size: 18px;
  background: #3f484e;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  /* box-shadow: 2px 2px 2px #ccc; */
}

.copyright-footer {
  text-align: left;
  font-size: 15px;
  color: #fff;
  padding: 65px 0;
  background-color: var(--cor-pretopantone);
}

.copyright-footer .selos {
  float: right;
}

.copyright-footer .selos strong {
  background: #fff;
  color: #363b36;
  padding: 0px 5px;
}

.copyright-footer .selos a {
  margin: 0 0 0 5px;
  color: #b7b7b7;
  text-decoration: none;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.3s;
}

.copyright-footer .selos a:hover {
  opacity: 1;
}

/*==================================================Página Contato (Formulario)==================================================*/
.contact {
  display: block;
  padding: 0 20px;
}

.form {
  float: left;
  width: 50%;
}

.form label {
  width: 185px;
  font-weight: bold;
  padding-right: 5px;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
}

.form label span {
  font-size: 9px;
  color: #c00;
}

.form input,
.form textarea,
.form select {
  /* width: 80%; */
  margin: 10px 0 4px 0;
  padding: 8px 5px;
  border: solid 1px #cfcfcf;
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
}

input#ddd {
  width: 17%;
}

input#telefone {
  width: 59%;
}

@media screen and (max-width: 420px) {
  .form input,
  .form textarea,
  .form select {
    width: 100%;
  }

  input#ddd {
    width: 30%;
  }

  input#telefone {
    width: 67%;
  }

  .form textarea {
    width: 100% !important;
  }
}

input.ir {
  width: 40%;
  max-width: 150px;
  background: #3872b3;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
}

.form textarea {
  width: 80%;
  margin-bottom: 18px;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  background: #eee;
}

.form .ir {
  border: solid 1px #666;
  background: #ffffff;
  padding: 10px 18px;
  color: #666;
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
  max-width: 150px;
  transition: all 300ms ease-in-out;
}

.form .ir:hover {
  background: #2ecc71;
  color: #ffffff;
  border-color: #2ecc71;
}

.bt-submit {
  display: block;
  margin: 5px 0 0 0;
}

.form span.obrigatorio {
  font-size: 0.8em;
  color: #c00;
  margin-top: 10px;
}

.form label.error {
  display: block;
  color: red;
  margin: 0 0.5em 0 0;
  vertical-align: top;
  font-size: 10px;
}

.help {
  font-size: 11px;
  color: #666;
}

.alert {
  color: #ff0000;
}

.contact-form {
  float: right;
  color: #989898;
  font-size: 11px;
  width: 50%;
}

.contact-form strong {
  color: #666;
}

/*==================================================Sitemap==================================================*/
.sitemap {
  margin-left: 30px;
  list-style: none;
  list-style-type: none;
}

.sitemap li {
  font-size: 15px;
  margin: 10px 0;
}

.sitemap li a {
  color: #000;
  font-size: 20px !important;
  line-height: 25px;
  text-decoration: none;
}

.sitemap li a:hover {
  color: #0a5bfd !important;
}

.sitemap li ul {
  margin-left: 35px;
  list-style: none;
  list-style-type: none;
}

.sitemap li ul li {
  margin: 5px 0;
  padding: 0;
}

.sitemap li ul li a {
  font-size: 12px;
  color: #000;
}

.sitemap li ul li ul li {
  margin: 5px 0;
}

.sitemap li ul li ul li a {
  font-size: 13px;
  color: #777;
}

.sitemap li a:hover {
  color: #093284;
}

.sitemap .fa {
  display: none;
}

.sitemap br {
  display: none;
}

/*========================================Page not found========================================*/
.msg-404 {
  position: relative;
  font-size: 22px;
  line-height: 34px;
  color: #a7a9ac;
  margin-bottom: 30px;
}

.menu-404 {
  /* background: #F8F8F8; */
  width: 95%;
  padding: 15px;
  margin-bottom: 20px;
  float: left;
}

.menu-404 a {
  display: block;
  margin: 0 auto;
}

/* ==========================================================================Helper classes========================================================================== */

/** Image replacement*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  /**text-indent: -9999px;*/
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/** Hide from both screenreaders and browsers: h5bp.com/u*/
.hidden {
  display: none !important;
  visibility: hidden;
}

/** Hide only visually, but have it available for screenreaders: h5bp.com/v*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/** Extends the .visuallyhidden class to allow the element to be focusable* when navigated to via the keyboard: h5bp.com/p*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/** Hide visually and from screenreaders, but maintain layout*/
.invisible {
  visibility: hidden;
}

/** Clearfix: contain floats** For modern browsers* 1. The space content is one way to avoid an Opera bug when the*    `contenteditable` attribute is included anywhere else in the document.*    Otherwise it causes space to appear at the top and bottom of elements*    that receive the `clearfix` class.* 2. The use of `table` rather than `block` is only necessary if using*    `:before` to contain the top-margins of child elements.*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/** For IE 6/7 only* Include this rule to trigger hasLayout and contain floats.*/
.clearfix {
  /**zoom: 1;*/
}

.slicknav_menu {
  display: none;
}

.slicknav_nav .fa {
  display: none;
}

.slicknav_nav br {
  display: none;
}

/*==================================================Layout responsivo com Grid==================================================*/
.grid {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.grid:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

/* [class*="col-"] iframe {display: block;margin: 0 auto;width: 100%;max-width: 300px;height: 200px;border: 0;} */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.txtcenter {
  text-align: center;
}

.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.pd {
  padding: 0;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

.fwidth {
  width: 100%;
}

.center-block {
  display: block;
  margin: 0 auto;
}

/*========================================Fancy Box - Lightbox========================================*/
#title-empresa h2 {
  font-size: 14px;
  background: #e9e9e9;
  padding: 4px 10px;
  line-height: 15px;
  color: #717171;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 10px 0;
  font-weight: 500;
  border-radius: 8px;
}

#title-keyword h3 {
  font-size: 12px;
  padding: 0 10px;
  line-height: 15px;
  color: #717171;
  text-decoration: none;
  margin: 0 0 10px 0;
  border-radius: 8px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-inner,
.fancybox-outer {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-iframe,
.fancybox-image {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
  background-image: url(images-fancy/fancybox_sprite.png);
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(images-fancy/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: url(images-fancy/blank.gif);
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(images-fancy/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-title {
  visibility: hidden;
  font: 400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: 0 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

.active-menu-topo {
  font-weight: bold;
}

.active-menu-aside {
  color: #3f484e;
  background-color: rgba(33, 114, 179, 0.1);
  border-left: 2px solid #3f484e;
  font-weight: bold;
}

/*==========================================================================Tabela==========================================================================*/
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.tg td {
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  color: #000;
}

.tg th {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}

.tg .tg-kf0f {
  background-color: #3166ff;
  color: #000000;
}

.tabela {
  background: none repeat scroll 0% 0% rgb(33, 114, 179);
  text-align: center;
  line-height: 30px;
}

.tabela p {
  text-align: center;
  line-height: normal;
}

.tabela th {
  border: 1px solid #000;
  color: #ffffff;
}

.tabela-conteudo {
  background: none repeat scroll 0% 0% rgb(229, 236, 244);
  padding: 0cm;
}

.busca {
  border: 1px solid;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 2px solid #ddd;
  color: #666;
}

.busca:focus {
  border: 2px solid #3f484e;
}

.barra-busca form {
  position: relative;
}

.barra-busca {
  background-color: #e4e4e4;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  box-sizing: border-box;
}

.barra-busca .btn {
  max-width: 100%;
  position: absolute;
  margin: 0;
  top: 3px;
  right: 3px;
}

.barra-busca input[type="search"] {
  width: 100%;
  box-sizing: border-box;
}

.barra-busca2 form {
  position: relative;
}

.barra-busca2 {
  padding: 10px 0;
  box-sizing: border-box;
}

.barra-busca2 .btn {
  max-width: 100%;
  position: absolute;
  margin: 0;
  top: 1px;
  right: 1px;
  font-size: 14px;
}

.barra-busca2 input[type="search"] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.topofixo .barra-busca2 {
  padding: 0;
}

/* ==========================================================================BOTAO TOPO========================================================================== */
#scrollUp {
  box-sizing: content-box !important;
  bottom: 0;
  right: 30px;
  width: 50px;
  height: 45px;
  margin-bottom: -10px;
  padding: 10px 5px;
  font: 14px/20px sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #fff;
  border-radius: 5px 5px 0 0;
  background-color: #3f484e;
  -webkit-transition: margin-bottom 150ms linear;
  -moz-transition: margin-bottom 150ms linear;
  -o-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
  margin-bottom: 0;
  color: #fff;
}

#scrollUp-active {
  display: none;
}

/*========================================Useful Rules========================================*/
.uc {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-center-v {
  align-items: center;
}

.flex-center-h {
  justify-content: center;
}

.form-base {
  background-color: #fff;
  margin: auto;
  color: #666;
  padding: 10px;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

.form-base input,
.form-base select,
.form-base textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin: 10px 0;
  margin-bottom: 20px;
  border-radius: 3px;
  color: #666;
}

.form-base input:focus {
  background-color: #fff;
  border-color: #3f484e;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(33, 114, 179, 0.1);
}

.form-base input[type="radio"],
.form-base input[type="checkbox"] {
  width: auto;
  margin: 20px 5px;
  margin-bottom: 30px;
  display: inline-block;
}

.form-base .ir {
  margin: 10px 0;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
  color: #666;
}

.form-base .ir:hover {
  background: #3f484e;
  color: #fff;
}

.form-base .obrigatorio {
  font-size: 12px;
}

.form-base [class*="col-"] {
  padding: 0;
}

.form-base [class*="col-"]:first-child {
  padding-right: 10px;
}

.form-base [class*="col-"]:last-child {
  padding-left: 10px;
}

@media only screen and (max-width: 765px) {
  .form-base {
    width: 100%;
  }

  aside.aside-full nav ul {
    grid-template-columns: 1fr;
  }

  .form-base [class*="col-"]:first-child {
    padding-right: 0px;
  }

  .form-base [class*="col-"]:last-child {
    padding-left: 0px;
  }

  .form-base .ir {
    width: 100%;
    max-width: unset;
  }
}

/* =============================== CAROUSEL NEUMORPHIC =============================== */

.carousel--neumorphic {
  padding: 25px;
  background-color: #fff;
}

.carousel--neumorphic .neumorphic__item {
  display: block;
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 20px;
  padding: 30px;
  box-shadow: 9.91px 9.91px 15px #e8e8e8, -9.91px -9.91px 15px #ffffff;
  transition: 0.5s;
}

.carousel--neumorphic .neumorphic__item:hover {
  box-shadow: none;
  background: none;
  transform: translate(0, 9.91px);
}

.carousel--neumorphic .neumorphic__item:before {
  content: "";
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  box-shadow: inset 9.91px 9.91px 15px #e8e8e8,
    inset -9.91px -9.91px 15px #ffffff;
  opacity: 0;
  transition: 1s;
}

.carousel--neumorphic .neumorphic__item:hover:before {
  opacity: 1;
  transition: 1s;
}

.carousel--neumorphic .neumorphic__item a {
  color: var(--dark);
  font-size: 14px;
  transition: 0.3s;
  font-weight: bold;
  position: relative;
}

.carousel--neumorphic .neumorphic__item i:before {
  color: var(--dark);
  font-size: 8px;
  position: relative;
  left: -10px;
  top: -1px;
  opacity: 0;
  transition: 0.3s;
}

.carousel--neumorphic .neumorphic__item:hover i:before {
  opacity: 1;
  left: 0;
}

/*=======================================CUSTOM RULES=======================================*/
.hide-desk {
  display: none;
}

form.orcamento-topo input {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 5px 0px;
}

form.orcamento-topo textarea {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* "BS" CORE (WIP) */

/* Margin sizes */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

/* Padding sizes */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

/* Sizes */
.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.h-100 {
  height: 100%;
}

.mh-100 {
  max-height: 100%;
}

.w-75 {
  width: 75%;
}

.mw-75 {
  max-width: 75%;
}

.h-75 {
  height: 75%;
}

.mh-75 {
  max-height: 75%;
}

.w-50 {
  width: 50%;
}

.mw-50 {
  max-width: 50%;
}

.h-50 {
  height: 50%;
}

.mh-50 {
  max-height: 50%;
}

.w-25 {
  width: 25%;
}

.mw-25 {
  max-width: 25%;
}

.h-25 {
  height: 25%;
}

.mh-25 {
  max-height: 25%;
}

.w-0 {
  width: 0%;
}

.mw-0 {
  max-width: 0%;
}

.h-0 {
  height: 0%;
}

.mh-0 {
  max-height: 0%;
}

/* Font sizes */
.large {
  font-size: large;
}

.larger {
  font-size: larger;
}

.x-large {
  font-size: x-large;
}

.xx-large {
  font-size: xx-large;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.x-small {
  font-size: x-small;
}

.xx-small {
  font-size: xx-small;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.display-1 {
  font-size: 6rem;
}

.display-2 {
  font-size: 5.5rem;
}

.display-3 {
  font-size: 4.5rem;
}

.display-4 {
  font-size: 3.5rem;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

/* Text */
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* Display */
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
  color: #2d2d2f;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.d-table-row {
  display: table-row;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/* Horizontal Flex */
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

/* Vertical Flex */
.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

/* Float */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

/* Position */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.t-50 {
  top: 50%;
}

.b-50 {
  bottom: 50%;
}

.l-50 {
  left: 50%;
}

.r-50 {
  right: 50%;
}

/* Responsive images */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Colors */
.text-dark {
  color: #343a40;
}

.text-light {
  color: #f8f9fa;
}

/* Image */
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

/* Border radius */
.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* Borders */
.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

/* Clearfix */
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

/* GRIDS */

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.grid-col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.grid-col-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.grid-col-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.grid-col-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  width: 100%;
}

[class*="grid-col-"]::before,
[class*="grid-col-"]::after {
  clear: both;
}

@media only screen and (min-width: 766px) and (max-width: 1024px) {
  [class*="grid-col-"] {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-feature img {
    width: 80% !important;
    margin: auto;
  }
}

@media only screen and (max-width: 765px) {
  [class*="grid-col-"] {
    display: block;
  }
}

/* END GRIDS */

/* PLACE YOUR CSS HERE IN THE NAME OF CRUZ */

.column-count-2 {
  column-count: 2;
}

@media only screen and (max-width: 765px) {
  [class*="column-count-"] {
    column-count: 1;
  }
}

header ul[class*="sub-menu"].sub-menu-scroll {
  max-height: 400px;
  height: auto;
  overflow-y: scroll;
}

header #menu2 .dropdown .dropdown:hover > [class*="sub-menu"] {
  height: 200px;
  width: 98%;
  overflow-y: auto;
  background-color: #ccccccf5;
}

/* LAZY LOAD VIDEO */

/* LAZY LOAD VIDEO */

[data-video] {
  cursor: pointer;
  position: relative;
}

.ytvideo[data-video]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.ytvideo[data-video]::after {
  content: "\f16a";
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 70px;
  color: #333;
  text-shadow: 0px 0px 50px white;
  transition: all 150ms;
}

[data-video]:hover::after {
  color: red;
}

/* LAZY LOAD VIDEO */

/* LAZY LOAD VIDEO */

/*=====================================END CUSTOM RULES=====================================*/

/*========================================CSS Mobile========================================*/

/* TABLET */
@media only screen and (min-width: 767px) and (max-width: 959px) {
  .wrapper {
    box-sizing: border-box;
    padding: 0 10px;
  }

  header .right a {
    margin: 0px 10px;
  }

  header .right {
    width: 100%;
    text-align: center;
  }

  header .logo {
    text-align: center;
    padding: 10px 0px;
  }

  header .logo img {
    margin-top: 10px;
  }

  header nav a {
    padding: 10px 0px;
    width: 142px;
  }

  article img {
    max-width: 100%;
  }

  .gallery li {
    margin: 4px;
  }

  .js .slicknav_menu {
    display: block;
    /* position: fixed; */
    z-index: 11;
    /* width: 100%; */
  }

  .js #menu {
    display: none;
  }

  .js #menu2 {
    display: none;
  }

  #servicosTabsDois .nav li a {
    padding: 10px;
  }

  .col-m-1 {
    width: 8.33% !important;
  }

  .col-m-2 {
    width: 16.66% !important;
  }

  .col-m-3 {
    width: 25% !important;
  }

  .col-m-4 {
    width: 33.33% !important;
  }

  .col-m-5 {
    width: 41.66% !important;
  }

  .col-m-6 {
    width: 50% !important;
  }

  .col-m-7 {
    width: 58.33% !important;
  }

  .col-m-8 {
    width: 66.66% !important;
  }

  .col-m-9 {
    width: 75% !important;
  }

  .col-m-10 {
    width: 83.33% !important;
  }

  .col-m-11 {
    width: 91.66% !important;
  }

  .col-m-12 {
    width: 100% !important;
  }

  .hide-tablet {
    display: none;
  }

  .topofixo {
    position: relative;
  }

  #header-block {
    display: none !important;
  }
}

/* Mobile */
@media only screen and (max-width: 765px) {
  h1 {
    font-size: 21px;
    margin-left: 10px;
  }

  [class*="flex-"]:not(.flex-top-icons) {
  }

  .d-none-mobile {
    display: none;
  }

  .btn {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .topofixo {
    position: relative;
  }

  .owl-pagination {
    display: none;
  }

  .title-breadcrumb h1 {
    box-sizing: border-box;
    padding: 5px;
  }

  .title-breadcrumb #breadcrumb {
    float: none;
  }

  header .topo .social {
    display: none;
  }

  .wrapper {
    box-sizing: border-box;
    padding: 0 10px;
  }

  header .logo a {
    margin: 0 auto;
  }

  header .logo {
    width: 100%;
    display: block;
    text-align: center;
  }

  header .logo img {
    max-width: 35%;
    margin: 0 auto;
  }

  header .right {
    width: 100%;
    text-align: center;
  }

  .topo .fright {
    float: none;
  }

  .topo {
    text-align: center;
  }

  article {
    width: 100%;
  }

  aside {
    width: 100%;
    margin: 0;
  }

  .gallery img {
    width: 100%;
  }

  .gallery li {
    width: 45%;
  }

  .thumbnails li {
    width: 100%;
    margin: 10px 0;
  }

  .thumbnails {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .thumbnails img {
    width: 100%;
  }

  footer .wrapper {
    text-align: center !important;
  }

  .copyright-footer {
    text-align: center;
  }

  footer .menu-footer nav li {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
  }

  footer .menu-footer nav li:last-of-type {
    padding: 10px;
  }

  .contact-footer {
    float: none;
  }

  .copyright-footer .wrapper {
    text-align: center;
  }

  footer .social {
    float: none;
    width: 100%;
  }

  .copyright-footer .selos {
    float: none;
    margin: 10px 0px;
  }

  .copyright-footer .selos a {
    float: none;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
    margin: 10px 0px;
  }

  footer .social .social-icons {
    float: none;
    padding: 10px 0px;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
  }

  .contact-footer {
    margin-right: 0;
  }

  .js #menu {
    display: none;
  }

  .js #menu2 {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }

  #servicosTabsDois .nav li a {
    padding: 8px;
    font-size: 13px;
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }

  .contact {
    padding: 0;
  }

  .form {
    width: 100%;
  }

  .contact-form {
    float: none;
    width: 100%;
  }

  #header-block {
    display: none !important;
  }

  .barra-busca .btn,
  .barra-busca2 .btn {
    position: relative;
    box-sizing: border-box;
  }
}

/*=======================================VERSAO MOBILE PARA CELULARES PEQUENOS======================================*/
@media only screen and (max-width: 480px) {
  [class^="col-"] {
    width: 100%;
  }

  .content-img-fixos {
    display: flex;
    justify-content: center;
  }

  #slide-show {
    height: 880px !important;
  }
}

/*Mobile Menu Core Style*/

/*ESQUEMINHA*/
ul.slicknav_nav > ul {
  margin-left: 0;
}

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}

.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
  margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

.slicknav_nav {
  clear: both;
}

.slicknav_nav ul,
.slicknav_nav li {
  display: block;
}

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
  cursor: pointer;
}

.slicknav_nav .slicknav_row {
  display: block;
}

.slicknav_nav a {
  display: block;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}

.slicknav_menu:after {
  clear: both;
}

/*User Default StyleChange the following styles to modify the appearance of the menu.*/
.slicknav_menu {
  font-size: 16px;
}

/* Button */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222222;
}

/* Button Text */
.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}

.slicknav_menu {
  background: #ffffff;
  padding: 5px;
  border-bottom: 1px solid black;
}

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}

.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
}

.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}

.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #000;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}

.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #000;
}

.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222;
}

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}

@media only screen and (max-width: 765px) {
  .whats-desk {
    display: none !important;
  }

  .item-breadcrumb {
    flex-direction: column;
  }

  .whats-mobile {
    display: inline-block !important;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 2000;
    cursor: pointer;
    outline: none !important;
  }

  .whats-mobile img {
    width: 70%;
  }
}

.whats-desk {
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 2000;
  cursor: pointer;
  outline: none !important;
}

.whats-mobile {
  display: none;
}

.thumbnails-main {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  text-align: center;
}

.thumbnails-main li {
  float: left;
  width: 213px;
  height: auto;
  margin: 10px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.thumbnails-main li:hover img {
  opacity: 0.8;
  transform: scale(1.2);
}

.thumbnails-main li:hover h2 {
  opacity: 0.9;
}

.thumbnails-main img {
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.thumbnails-main h2 {
  transition: 0.3s;
}

.thumbnails-main a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.thumbnails-main {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.thumbnails-main li {
  display: flex;
  width: 26%;
  margin: 20px auto;
  border: 1px solid #ccc;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.thumbnails-main li img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 5px 5px 0px 0px;
}

.thumbnails-main li p {
  text-align: center;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
  font-size: 10px;
}

.thumbnails-main h2 a,
.thumbnails-main h3 a,
.thumbnails-main h4 a {
  font-size: 13px;
  color: #000;
  font-weight: 700;
  justify-content: center;
  /* margin: 10px auto; */
}

.thumbnails-main li .botao,
.thumbnails-main li .botao-cotar {
  padding: 5px 10px;
  color: #fff;
  margin: auto;
  font-size: 14px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 0 30px 15px;
  justify-content: center;
}

.thumbnails-main li .botao {
  background: #f98c18;
  text-decoration: none;
}

.thumbnails-main li .botao:hover {
  background-color: #469b42;
}

.thumbnails-main li .botao-cotar {
  background: #f98c18;
  text-decoration: none;
}

.thumbnails-main li .botao-cotar:hover {
  background-color: #167ac6;
}

/*=============================== CAROUSEL GALLERY ===============================*/
.carousel--gallery .carrousel-2 img {
  width: 100%;
  height: 400px;
}

.carousel--gallery .gallery__main img {
  width: 100%;
  height: 400px;
}

.carousel--gallery .gallery__nav {
  cursor: pointer;
}

.carousel--gallery .gallery__nav img {
  width: 125px;
  height: 125px;
}

.carousel--gallery .gallery__nav :is(.slick-prev, .slick-next) {
  width: max-content;
  height: 100%;
  padding: 0 25px;
  background: linear-gradient(transparent, transparent);
  transition: background 0.3s;
}

.carousel--gallery .gallery__nav .slick-prev:hover,
.carousel--gallery .gallery__nav .slick-prev:focus {
  background: linear-gradient(to right, #0000002e, transparent);
}

.carousel--gallery .gallery__nav .slick-next:hover,
.carousel--gallery .gallery__nav .slick-next:focus {
  background: linear-gradient(to left, #0000002e, transparent);
}

.carousel--gallery .gallery__nav .slick-prev:before,
.carousel--gallery .gallery__nav .slick-next:before {
  font-size: 22px;
  color: #9cb7d4;
}

.topo-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-produtos {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-produtos h2 {
  font-size: 14px;
  font-weight: bold;
}

.title-produtos a {
  color: var(--dark);
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden !important;
}

@media only screen and (max-width: 748px) {
  .thumbnails-main li {
    width: 46%;
  }
}

.selos img {
  width: 80px;
  height: 40px;
}

/* CONTEÚDO CONTAINER */
.article-content {
  padding-bottom: 60px;
  line-height: 25px;
  position: relative;
  margin-top: 10px;
}

.article-content img {
  border-radius: 5px;
  transition: 0.8s;
}

.article-content img:hover {
  transform: scale(1.05);
}

.article-content strong {
  font-weight: bold;
  font-size: 1.1em;
}

.article-content p {
  padding-left: 10px;
  font-size: 1.01em;
  padding-right: 10px;
  font-family: var(--font-secundary);
}

.article-content li {
  list-style: inside;
  margin-left: 20px;
  font-size: 1em;
  margin-top: 10px;
  font-family: var(--font-secundary);
}

.article-content h2 {
  font-size: 1.4em;
  margin-left: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}

.article-content h3 {
  font-size: 1.3em;
  margin-left: 10px;
  color: #20577c;
}

.article-content h4 {
  font-size: 1.2em;
  margin-left: 10px;
  color: gray;
}

.article-content .img-right {
  float: right;
  mix-blend-mode: multiply;
  display: block;
  margin-left: 15px;
  width: 200px;
  border-radius: 5px;
}

.article-content .img-left {
  float: left;
  mix-blend-mode: multiply;
  display: block;
  margin-right: 15px;
  width: 200px;
  border-radius: 5px;
}

.article-content .img-center {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
}

.article-content .img-center img {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .img-center {
    flex-direction: column;
  }

  .cards-informativo {
    justify-content: center !important;
  }

  .article-content li {
    margin-left: 15px;
  }

  .article-content .img-right {
    margin: 0 auto;
    float: none;
    display: flex;
    justify-content: center;
  }

  .article-content .img-left {
    float: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .card-feature {
    width: 80% !important;
    margin: 5px auto !important;
  }

  .content-index .section-content li {
    width: 100% !important;
  }

  .content-index .section-content li h3 {
  }

  .partners-company,
  .partners-company h2 {
    width: 100% !important;
  }

  .card-feature img {
    width: none;
  }
}

.article-content a {
  cursor: pointer;
  color: #006fe6;
  font-weight: bold;
}

/* FIM CONTEÚDO CONTAINER */
/* DIV TABLE STYLE */
.table-style table {
  border-collapse: collapse;
  width: 100%;
}

.table-style th,
.table-style td {
  border: 1px solid #c0c0c0;
  padding: 8px;
  text-align: left;
}

.table-style th {
  background-color: #3850b3;
  color: #ffffff;
}

.table-style tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-style tr:hover {
  background-color: #d9e6f2;
}

.table-style {
  color: #000000cf;
  padding-left: 15px;
}

.title-table {
  text-align: center;
  color: black;
  font-size: 1.5em;
  font-family: "Open Sans";
}

.table-style td {
  color: #333;
}

/* FIM DIV TABLE STYLE */
/* TABLE 3 COLUNAS +*/
@media (max-width: 1024px) {
  .table-3-column th,
  .table-3-column td {
    font-size: 12px;
  }

  .table-3-column th {
    border: 1px solid #444141;
  }

  .table-3-column td:first-child {
    border-top: 1px solid #444141;
  }

  .table-3-column table:not(:nth-child(-n + 2)) {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0px 35px 0px;
    overflow-x: auto;
    display: block;
  }

  .table-3-column td,
  .table-3-column th {
    text-align: left;
  }

  .table-3-column table::-webkit-scrollbar {
    height: 10px;
  }

  .table-3-column thead {
    background-color: #118900;
    color: white;
  }

  .table-3-column td:hover {
    background-color: #d7d7d7;
  }
}

/*FIM TABLE 3 COLUNAS +*/

/* BUSCAS RELACIONADAS*/
.busca-relacionadas {
  width: 100%;
  padding: 10px 0;
  padding-top: 20px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

ul.relacionada li:hover {
  background-color: #4b5a67;
  color: white;
}

ul.relacionada li {
  border: 1px solid black;
  padding: 8px;
  margin: 4px;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}

.busca-relacionadas b {
  margin-left: 7px;
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .busca-relacionadas {
    flex-direction: column;
    align-items: flex-start;
  }
}

ul.relacionada {
  display: flex;
}

ul.relacionada a {
  padding: 10px;
  color: #000;
  transition: 0.2s ease-in-out;
}

ul.relacionada a:hover {
  color: white;
}

/* FIM BUSCAS RELACIONADAS*/

/* BREADCRUMB*/
.bread-content {
  height: 100%;
}

ol.breadcrumb {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

li.breadcrumb-item {
  list-style: none;
  margin: 4px;
}

@media screen and (max-width: 768px) {
  ol.breadcrumb {
    flex-direction: column;
    margin-top: 25px;
    align-items: flex-start;
  }
}

/* FIM BREADCRUMB */

/* produtos premium */

.thumbnails {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  list-style: none;
  list-style-type: none;
  text-align: center;
}

.thumbnails {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  text-align: center;
}

.thumbnails li img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.thumbnails h2 {
  font-size: 0.8em;
  padding: 8px 0px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  color: black;
  height: 42px;
}

.thumbnails {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.thumbnails li {
  border-radius: 5px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  width: 23.7%;

  text-align: center;

  text-transform: uppercase;

  transition: 0.3s;

  height: auto;

  margin: 10px 5px;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.thumbnails li img {
  /* height: 300px; */
  object-fit: cover;
  transition: 0.3s ease-in-out;
  border-radius: 5px 5px 0px 0px;
}

.thumbnails li p {
  text-align: center;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
  font-size: 0.7em;
}

.thumbnails h2,
.thumbnails h3,
.thumbnails h4 {
  line-height: 13px;
}

.thumbnails h2 a,
.thumbnails h3 a,
.thumbnails h4 a {
  font-size: 11px;
  color: #2f4b71;
  font-weight: 700;
  line-height: 13px;
}

.thumbnails .botao-cotar {
  bottom: 0;
}

.botao:hover {
  background-color: #469b42;
}

.botao-cotar {
  background-color: var(--cor-principaldocliente);
  color: #fff;
  transition: 0.4s;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 0.9em;
  width: 100%;
}

.botao-cotar:hover {
  background-color: #2f5285;
  /* box-shadow: none; */
  color: #fff;
}

.wrapper-produtos {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.padding-premium {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

.box-produto p {
  font-family: "Poppins";
  font-size: 1.06em;
  line-height: 22px;
}

.box-produto h2 {
  font-family: "Poppins";
  font-size: 1.03em;
  line-height: 22px;
  text-transform: uppercase;
}

.box-produto h3 {
  font-family: Libre Baskerville;
  font-size: 0.7em;
  line-height: 22px;
}

.box-produto {
  margin: 15px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.content-fixos {
  background-color: #9cb7d42e;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
}

span.galeria-ilustrativa {
  position: absolute;
  right: -12px;
  bottom: 721px;
  background-color: #090a0d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
  z-index: 999999;
  padding: 5px;
  transform: rotate(36deg);
}

.galeria-fixa {
  position: relative;
}

.box-img-random img {
  height: 220px;
  transition: 0.4s ease-in-out;
}

.box-img-random {
  height: 257px;
  border-right: 1px solid #2b2bff14;
}

.box-img-random img:hover {
  transform: scale(1.1);
}

h2.h2-regioes {
  margin-top: 40px;
  margin-bottom: -5px;
}

/* =============================== CONTAINER CURVERD =============================== */

.curved {
  position: relative;
  overflow: visible !important;
  padding: 3rem 0;
  color: #fff;
  background-color: var(--color-tertiary);
  margin-bottom: 45px;
}

.curved .curved__top,
.curved .curved__bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 9;
}

.curved .curved__top {
  top: -48px;
}

.curved .curved__bottom {
  bottom: -48px;
}

.curved .curved__svg {
  height: 100%;
  fill: var(--color-tertiary);
  stroke: #1c1e20;
}

.curved .curved__bottom .curved__svg {
  transform: rotate(180deg);
}

.curved .curved__btn {
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 15px 40px;
  margin: 15px 0;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.3s;
}

.curved .curved__btn:hover {
  background-color: #fff;
  color: #2172b3;
  font-weight: bold;
  letter-spacing: 1.2px;
}

/* =============================== MAIN CONTENT =============================== */
.main .main__cover img {
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.main .main__desc {
  padding: 2.5em 3em;
}

.main .main__desc p {
  margin: 1.8em 0;
  font-size: 15px;
  line-height: 1.5em;
}

.main .main__btn {
  display: inline-block;
  margin: 1em 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 4.2em;
  text-align: center;
  border: 2px solid var(--color-primary);
  background-color: var(--color-secundary);
  position: relative;
}

.main .main__btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 1%;
  height: 100%;
  background-color: var(--color-tertiary);
  opacity: 0;
  transition: 0.5s;
}

.main .main__btn:hover:after {
  opacity: 1;
  width: 100%;
}

.main .main__btn span {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: 0.2s;
  padding: 15px;
  color: #fff;
}

.main .main__btn:hover span {
  color: #fff;
}

/* MEDIUM DEVICE */
@media only screen and (max-width: 768px) {
  .main .main__desc {
    padding: 0.3em;
  }

  .welcome {
    flex-direction: column;
  }

  .welcome-text h2 {
    text-align: center;
  }

  .thumbnails li {
    width: 100%;
  }
}

/* SMALL DEVICE */

@media only screen and (max-width: 576px) {
  .main .main__btn {
    display: block;
    max-width: 80%;
    width: 100%;
    margin: 1em auto;
  }
}

.main-content {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #00000054;
}

.main-content p {
  font-size: 1.2em;
}

.main-content h2 {
  font-size: 1.4em;
}

.welcome {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.welcome-text h2 {
  font-size: 3em;
  font-weight: 300;
}

img.img-welcome {
  height: 370px;
}

.row.no-gutters.galeria-videos {
  display: flex;
  justify-content: center;
}

.fa-2x {
  color: white;
}

.content-menu {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-topo > li:hover {
  transition: all 0.5s linear;
  background-color: #3a2ad238;
}

.nav-topo > li {
  border-radius: 10px;
}

a.link-sub-list {
  padding-left: 9.6px !important;
  padding-right: 18px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 13px !important;
}

a.link-list {
  padding: 15px !important;
  font-size: 10px !important;
}

a.link-sub-list.first-child {
  margin-top: 5px;
}

.background-bread {
  background-image: url(../imagens/banner/banner3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center;
  margin-bottom: 10px;
}

.background-bread-produtos {
  background-image: url(imagens/banner/contact.webp);
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center;
}

.background-bread-categ {
  background-color: var(--color-secundary);
  height: 200px;
}

@media only screen and (max-width: 765px) {
  .background-bread-categ,
  .background-bread-produtos,
  .background-bread {
    background-image: none !important;
    background-color: var(--color-secundary);
    height: 500px;
  }

  ul.relacionada {
    flex-direction: column;
  }
}

.bread__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  color: white;
}

.bread__row span,
.bread__row h1 {
  color: white;
}

.bread__row h1 {
  font-size: 2.6em;
}

.breadcrumb {
  height: 100%;
  background-color: var(--cor-pretopantone);
  width: 100%;
}

.bread__row span {
  text-transform: capitalize;
  font-size: 1em;
  transition: 0.5s;
}

.bread__row span:hover {
  color: #2a60c2;
}

.item-breadcrumb {
  display: flex;
  padding: 3px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}

.bread__row span:hover {
  color: #a5bae1;
}

h1.bread__title {
  margin: 0;
  text-transform: uppercase;
  color: var(--white);
}

h2.bread__title {
  margin: 0;
  font-size: 1.4em;
  color: white;
  text-transform: capitalize;
}

.bread-list {
  margin-top: 30px;
  margin-bottom: 100px;
}

h1.title-galeria {
  font-size: 3.3em;
  border-bottom: 1px solid #00000029;
  color: #3f484e;
  text-align: center;
}

.col-lg-6.col-md-6.col-sm-12.p-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-produto img {
  width: 160px;
  height: 220px;
}

/* LEIA MAIS */
details.webktbox summary::-webkit-details-marker {
  display: none;
}

/*Caso na pÃƒÆ’Ã„â€žgina apareÃƒÆ’Ã‚Â§a um simbolo de flecha junto com o botÃƒÆ’Ã„Â¢o 'Leia mais', add esse trecho:  */
summary {
  display: block !important;
  cursor: pointer;
}

/* Em 'content' pode colocar a mensagem que deseja. Ex: 'Ver mais', 'Leia mais', etc. */
details.webktbox summary:before {
  content: "Leia mais sobre esse artigo";
  display: flex;
  color: #000;
  padding: 8px 8px;
  cursor: pointer;
  width: 95%;
  justify-content: center;
  font-style: italic;
  margin-top: 1%;
}

/* BotÃƒÆ’Ã„Â¢o fechar*/
details.webktbox[open] summary:before {
  content: "Fechar";
  position: absolute;
  top: 98%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  details.webktbox summary:before {
    font-size: 16px;
    padding: 6px;
  }

  details.webktbox[open] summary:before {
    font-size: 16px;
    width: 90%;
    padding: 6px;
    top: 97.5%;
    margin-top: 6vh;
  }
}

/* FIM LEIA MAIS */
.font-catamaram {
  font-family: var(--font-secundary);
}

section.cotacao-modal-header {
  min-height: auto;
}

.slick-prev:before,
.slick-next:before {
  /* padding: 10px; */
  /* background-color: #0000006c; */
  color: #fff !important;
}

.slick-prev:before {
  border-radius: 50px 0px 0px 50px;
}

.slick-next:before {
  border-radius: 0px 50px 50px 0px;
}

.content-random {
  margin-bottom: 30px;
  margin-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.background-bread.artigo {
  background-color: var(--color-secundary);
  height: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
}

ul.sitemap > li {
  font-size: 1.5em;
}

.content-random li {
  font-size: 1.1em;
  padding: 5px;
  list-style: inside;
}

button.botao-cotar.botao-artigo {
  width: 80%;
  margin: 0 auto;
  padding: 30px 10px;
}

i.fa.fa-envelope {
  margin-right: 10px;
}

.coluna-artigo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.coluna-artigo aside {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #cotacao-modal .cotacao-modal-content {
    width: 100vw;
  }

  .coluna-artigo {
    width: 100%;
  }

  .botao-artigo {
    display: none;
  }

  .botao-artigo-mobile {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    display: block;
  }

  .botao-mobile {
    display: block !important;
  }

  .thumbnails h2 {
    font-size: 0.8em;
  }

  .thumbnails li p {
    font-size: 0.7em;
  }

  .content-menu {
    margin-top: 10px;
  }

  .botao-cotar-mobile {
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0px;
    justify-content: center;
    align-items: center;
  }
}

.botao-mobile {
  display: none;
}

#cotacao-modal .cotacao-modal-content {
  margin: 80px auto;
}

.nav-topo i {
  color: var(--color-secundary);
}

ul.thumbnails.premium-rocadeiras-e-rotativas li {
  width: 47%;
}

h2.dark {
  font-size: 1.2em;
}

/* search bar */
.search input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: var(--grey);
  font: normal 14px/normal var(--primary-font);
}

.search {
  position: relative;
}

.search--topo button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.search button {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  color: var(--grey);
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* search bar */

.mapa {
  width: 100%;
  display: flex;
  margin-left: 5%;
  margin-bottom: 3%;
}

.content-index {
  padding: 20px 0px 00px 0px;
}

.content-index h2 {
  text-align: center;
  font-size: 2rem;
  color: #2d2d2f;
}
.slide-feedback > h2 {
  color: #fff;
  font-weight: 300;
}


#readmore-open,
#readmore-close {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--cor-principaldocliente);
    cursor: pointer;
}

.content-index .section-content {
  float: none;
  margin-top: 30px;
  padding: 30px;
}

.content-index .section-content li {
  text-align: center;
  margin: 10px;
  width: 30%;
}

.content-index .section-content li .fa {
  font-size: 30px;
}

.section-text h3 {
  margin: 0px;
  color: var(--grey);
  font-family: var(--font-secundary);
  font-size: 1.3em;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: justify;
}

.content-index .feedback {
  padding: 30px 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-pretopantone);
}

.content-index .feedback p {
  margin: 10px 0px;
  font-style: italic;
  max-width: 300px;
  text-align: center;
}

.slide-feedback i {
  font-size: 40px;
  color: var(--cor-principaldocliente);
}

i.fa.fa-star {
  font-size: 24px;
  margin: 5px;
}

.content-index .feedback img {
  margin: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.content-index .section-content li img {
  max-width: 300px;
  height: 200px;
}

.content-index .section,
.content-index .section div {
  width: 100%;
  display: flex;

  background-color: #cbd8e1;
}

.content-index .section {
  margin: 10px 0px 0px 0px;
}

.content-index .section div img {
  width: 100%;
  height: 300px;
}

.content-index .section div div {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 30px 0px 0px 0px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.footer h1 {
  font-size: 3rem;
}

.footer h3 {
  font-weight: 400;
}

.footer button {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-secundary);
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.footer button:hover {
  transition: 0.5s;
  background-color: white;
  color: var(--color-secundary);
}

.footer div {
  margin-top: 30px;
  background-color: #6b6b6b;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 1024px) {
  .informacoes-anunciantes h3 {
    font-size: 1rem !important;
  }

  .flex-wrap-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-content li p {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .content-index .section div {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }

  .content-index .section div div {
    text-align: center;
    margin: 0px;
    padding: 30px 0px;
  }

  .header img {
    display: none;
  }
  .banner-home {
    display: none;
  }
}

/* Aqui começa a configuração da página contatos! */
.header .banner {
  padding: 20px 20px;
  color: white;
}

.banner p span {
  font-weight: 300;
  font-size: 14px;
}

/* Aqui começa a configuração da página contatos! */
.sobre-product div {
  padding: 0px;
  text-align: center;
}

.sobre-product .blue-div {
  color: white;
  background-color: var(--color-secundary);
  box-shadow: 0px 0px 15px 2px rgba(80, 80, 80, 0.304);
}

.user h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.sobre-product div img {
  width: 200px;
}

.content-index .section-content-simple {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-secundary);
  text-align: center;
}

.content-index .section-content-simple h3 {
  margin-top: 10px;
}

.content-index .section-content-simple img {
  width: 400px;
  height: 25 0px;
}

.content-index .section-content-simple p {
  max-width: 70%;
}

@media only screen and (max-width: 768px) {
  .content-index .section-content-simple img {
    width: 300px;
  }

  .content-index .section-content-simple p {
    max-width: 100%;
  }

  .swiper {
    width: 90%;
    margin: auto;
    height: 600px;
  }

  .feedback .swiper {
    height: 400px;
    width: 90%;
    margin: auto;
  }

  .content-index .section div {
    padding: 30px 2px;
  }
}

.swiper {
  width: 100%;
  height: 600px;
}

.feedback .swiper {
  height: auto;
}

.feedback .swiper {
  --swiper-theme-color: #fff;
}

.slide-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  text-align: center;
  flex-direction: column;
}

.slide-feedback p,
.slide-feedback h4 {
  color: #000;
  font-weight: 300;
}

.section-text p {
  line-height: 1.6rem;
  margin: 0;
  text-align: left;
}

.section-text h2 {
  font-size: 3em;
  font-weight: 200;
  letter-spacing: 2px;
}

.user h3 {
  margin: 0;
}

.user > h3:first-of-type {
  margin-top: 20px;
  font-family: var(--font-secundary);
  font-weight: bold;
}

.card-feature {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  flex-direction: column;
}

.card-feature img {
  height: 200px;
  border-radius: 5px;
}

.aside-contact-info {
  margin: 9px 0px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .i-form {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    gap: 10px;
  }
}

.aside-contact-info p {
  background: none;
  text-align: left;
  font-size: 0.9rem;
  display: flex;
  gap: 8px;
}

.form-contact {
  margin-bottom: 20px;
  width: 60%;
}

.form-contact input:not(input[type="checkbox"]) {
  width: 97%;
  border-bottom: 3px solid var(--color-secundary);
  font-size: 16px;
  padding: 10px;
  margin-top: 15px;
}

.form-contact textarea {
  padding: 10px;
  margin-top: 15px;
  width: 97%;
  border: 1px solid #ccc;
  border-bottom: 3px solid var(--color-secundary);
}

.form-contact checkbox {
  display: flex;
}

.checkbox p {
  margin-left: 10px;
}

.form-contact button {
  padding: 15px;
  margin-top: 10px;
  background-color: var(--color-secundary);
  transition: 0.5s;
  color: var(--light);
  width: 100%;
}

.form-contact button:hover {
  transition: 0.5s;
  background-color: #fff;
  color: var(--color-secundary);


}

@media only screen and (max-width: 1024px) {
  .flex-wrap-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .aside-contact {
    margin-left: 0px;
    width: 100%;
  }

  .form-contact {
    width: 100%;
  }

  .section-content li p {
    justify-content: center;
  }
  .banner-home {
    display: none;
  }
}

ul.list-benefits i {
  font-size: 2.5em;
}

.content-card-feature {
  display: flex;
  min-height: 200px;
  flex-direction: column;
  width: 100%;
}

.content-banner {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.content-banner h2 {
  font-size: 3.2em;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.content-banner p {
  font-size: 1.3em;
  text-align: center;
  font-family: var(--font-secundary);
  line-height: 1.3em;
}

.slick-banner-main {
  max-width: none;
  height: 100%;
  background: rgb(52, 52, 52);
  background: linear-gradient(
    90deg,
    rgba(52, 52, 52, 0.7035189075630253) 0%,
    rgba(52, 52, 52, 0.7035189075630253) 100%
  );
}

.slick-banner-main div {
  max-width: 1180px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.grid-features {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
}

.grid-features .grid-item {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-features .grid-item img {
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 100%;
}

.grid-features .grid-item p {
  font-size: 16px;
  margin: 10px 0px 20px 0px;
  text-align: left !important;
}

@media only screen and (max-width: 1024px) {
  .grid-features {
    grid-template-columns: auto auto;
  }

  .grid-features .grid-item {
    margin-top: 20px;
  }
}

.grid-item-mark {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-index .section .grid-item-mark img {
  cursor: pointer;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  opacity: 0.5;
  width: 140px;
  object-fit: contain;
  transition: 0.7s;
}

.content-index .section .grid-item-mark img:hover {
  transition: 1s;
  transform: scale(1.04);
  filter: grayscale(0);
  opacity: 1;
}

.partners-company {
  align-items: flex-start;
  justify-content: center;
}

.partners-company a {
  background-color: var(--color-tertiary);
  color: #fff;
  padding: 10px 60px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.partners-company a:hover {
  background-color: var(--dark);
}

.readmore-button {
  padding-left: 10px;
}

.readmore-button a {
  font-size: 1.2em;
  color: var(--color-secundary);
  border-bottom: 1px solid var(--color-secundary);
}

h2.title {
  color: var(--cor-principaldocliente);
  font-weight: 500;
  margin: 0;
  letter-spacing: 0px !important;
}

h3.sub-title {
  font-size: 1.4em;
  font-family: "Poppins";
  color: var(--dark);
}

h4.sub-title {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  color: var(--cor-pretopantone);
}

.custom-shape-divider-bottom-1707920312 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707920312 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 251px;
}

.custom-shape-divider-bottom-1707920312 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1707920312 svg {
    width: calc(100% + 1.3px);
    height: 135px;
  }
}

.header-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #6e8efb, #009688);
  color: white;
  width: 100%;
}

.content-banner-mobile {
  width: 100%;
  background-image: url("../imagens/wavesOpacity-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  /* Ajuste conforme necessário */
  margin-top: -1px;
  z-index: 1;
}
.header-text-mobile h1 {
  margin-top: 20px;
  margin: 0px;
}
.header-text-mobile {
  color: white;
  font-size: 1rem;
  /* Ajuste conforme necessário */
  /* Espaço entre o texto e a imagem de ondas */
}
.header-mobile p {
  margin-bottom: 20px;
}


.card-produtos-vistos img{
  width: 100px;
}
.mpi-gallery img{
  width: 100px !important;
  height: 100px !important;
  object-fit: contain;
}
.social-icons{
  color: var(--dark);
}







