/* VARS */
:root {
  --border-color: #ccc;
  --box-shadow: 0 15px 10px -15px #111;
  --border-radius: 0.25em;
  --primary-light-color: #8eb7d8;
}

/* GLOBAL CLASSES PAGES */
.htmlchars :is(h2, h3) { font-size: 1.2em; }
.htmlchars ul { margin: 1em 0 1.3em 1em; }
.htmlchars ul li { list-style: disc; font: 1em/1.3em var(--primary-font); margin: 1em 0; color: var(--grey); }

/* BARRA-INC */
  /* BOTÃO CARRINHO FIXO */
  .widget__cart { width: max-content; position: fixed; top: 12%; right: 0; z-index: 9999; }
  .widget__cart--btn { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 10px; border-radius: var(--border-radius) 0 0 var(--border-radius); font-size: 12px; text-align: center; color: #fff; background-color: var(--primary-color); -webkit-transition: .3s; transition: .3s; }
  .widget__cart--btn i { display: block; font-size: 1em; margin-bottom: 3px; }
  .widget__cart--btn:hover { background-color: var(--dark); }

  /* BOTÃO BUSCA */
.searchIcon { padding: 0; margin: 0; border: none; outline: none; border-radius: var(--border-radius); display: flex; align-items: center; justify-content: center; background-color: transparent; max-width: 175px; width: 100%; position: relative; }
.searchIcon:after { content: ''; position: absolute; top: 0; right: 0; transform: translateX(-3px); width: 1px; height: 100%; background-color: var(--primary-color); border-radius: var(--border-radius); z-index: 0; opacity: 0; overflow: hidden; transition: .3s; }
.searchIcon:hover:after { width: 100%; opacity: 1; transform: translateX(0) }
.searchIcon :is(span, i) { display: flex; align-items: center; height: 40px; font-size: 1em; transition: .3s; }
.searchIcon span { padding-left: 0.5em; border: 1px solid var(--border-color); border-radius: var(--border-radius) 0 0 var(--border-radius); justify-content: space-between; width: 70%; text-transform: uppercase; color: #ccc; font-size: 12px; z-index: 1; }
.searchIcon:hover span { color: #fff; border-color: var(--primary-color); }
.searchIcon i { border: 1px solid var(--primary-color); border-radius: 0 var(--border-radius) var(--border-radius) 0; justify-content: center; width: 30%; background-color: var(--primary-color); color: #fff; z-index: 1; }
.searchModal { display: none; }

.widget__search { width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; display: flex; align-items: center; justify-content: center; z-index: 9999; background-color: rgba(0, 0, 0, 95%); }
.widget__search .search { width: 50%; display: flex; align-items: center; justify-content: center; }
.widget__search .search input { width: 90%; height: 57.3px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 30px; border-radius: var(--border-radius) 0 0 var(--border-radius); border: none; font-size: 1em; background-color: #fff; }
.widget__search .search input::placeholder { font-size: 1em; color: #999; }
.widget__search .search__buttons { display: flex; align-items: center; justify-content: center; gap: 10px; width: 20%; height: 57.3px; border-radius: 0 var(--border-radius) var(--border-radius) 0; background-color: #fff; }
.widget__search .search button { border: none; background-color: transparent; }
.widget__search .search i { color: var(--grey); -webkit-transition: .3s; transition: .3s; }
.widget__search .search button:hover i, .widget__search .search span:hover i { color: var(--dark); }
.widget__search .search i.fa-search { font-size: 20px; }
.widget__search .search i.fa-close { font-size: 24px; cursor: pointer; }

  /* SMALL DEVICE */
  @media only screen and (max-width:576px) {
    .widget__search .search { width: 95%; }
    .widget__search .search__buttons { -webkit-box-shadow: -5px 0 0 #fff; box-shadow: -5px 0 0 #fff; }
  }

  /* BOTÕES GTRANSLATE */
  .widget__lang { width: max-content; display: flex; align-items: center; justify-content: center; }
  body { top: 0 !important; }
  #goog-gt-tt { display: none !important; }
  #google_translate_element2 { display: none !important; }
  .goog-te-banner-frame { display: none !important; }
  .goog-te-menu-value:hover { text-decoration: none !important; }
  .translate-container { display: flex; align-items: center; justify-content: flex-end; gap: 10px; }
  .translate-container img { width: 32px; }

  .skiptranslate {
    display: none;
  }

  /* SMALL DEVICE */
  @media only screen and (max-width:576px) {
    .widget__lang {
      width: 100%;
      padding: 24px 10px;
    }
    .translate-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .translate-container img { width: 30px; }
  }

/* END BARRA-INC */

/* BREADCRUMB */
#breadcrumb li {display: inline-block; }
#breadcrumb i, #breadcrumb li:not(.bread__column) { margin: 0 5px; }

/* MODAL CARRINHO */
.alertCart { z-index: 999; display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 80%; width: 100%; border: 1px solid var(--border-color); border-radius: var(--border-radius);   padding: 1em; background: #fff; }
.alertCart h2 { font-size: 1.2em; text-align: center; color: var(--primary-color); }
.alertCart .btn { border: none; outline: none;}
.alertCart .btn:hover { border: none; outline: none; }


/* CARRINHO */
  /* **TABELA** */
  .carrinho .carrinho__head { padding: 1.5em; border-bottom: 2px solid var(--border-color); color: var(--dark); font-size: 1.2em; }
  .carrinho .carrinho__body .carrinho__row { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1.5em; height: 100%; display: flex; flex-direction: column; justify-content: center; border-bottom: 1px solid var(--border-color); }
  .carrinho .carrinho__body .carrinho__row span { color: var(--dark); font-size: 1.2em; line-height: 1.6em; color:var(--dark); }

  /* **INPUT QUANTIDADE** */
  .carrinho .qtdCart {max-width: 70px; width: 100%; line-height: 24px; }
  
  /* **BUTTON TRASH** */
  .carrinho .removeCart { display: block; height: 40px; text-align: center; line-height: 30px; outline: none; border: none; background: none; cursor: pointer; }
  .carrinho .removeCart i { color: red; }

  /* **FORMULÁRIO** */
  .formulario { width: 100%; }
  .formulario.j_formulario { display: none; }
  .formulario :is(input, textarea, select) { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1em; width: 100%; margin: 0.5em 0; border: 1px solid var(--border-color); font: 1em/1.5em var(--primary-font); color: var(--dark); background-color: #fff; -webkit-transition: .3s; transition: .3s; }
  .formulario :is(input, textarea, select):focus { color: var(--dark); background-color: #fff; border-color: #80bdff; outline: 0; box-shadow: 0 0 0 0.2em rgb(0 123 255 / 25%); }
  .formulario label, .formulario :is(input, textarea)::placeholder { font: 1em/1.5em var(--primary-font); color: var(--dark); }
  .formulario [type="submit"] { max-width: 280px; width: 100%; margin-top: 1em; border: 1px solid var(--primary-color); font-size: 16px; text-transform: uppercase; color: #fff; background-color: var(--primary-color); cursor: pointer; }
  .formulario [type="submit"]:hover { background-color: var(--dark); border: 1px solid var(--dark); }
  .formulario__obrigatory { display: block; margin: 1em 0; font-size: 12px; color: var(--grey); }

  /* SMALL DEVICE */
  @media only screen and (max-width:576px) {
    .carrinho .carrinho__body .carrinho__row { padding: 0.8em; }
    .carrinho .inputNumber * { font-size: 1em !important; }
  }
/* END CARRINHO */

/* PAGINAÇÃO */
.form__pages { display: flex; align-items: center; justify-content: end; }
.form__pages .search__pages, .form__pages .view__pages { display: flex; align-items: center; }
.form__pages .search__pages { width: 70%; }
.form__pages .search__pages input[type="search"] { width: 95%; height: 35px; background-color: #fff; color: var(--grey); padding: 0 5px; font-size: 1em; border: 1px solid var(--border-color); border-radius: 5px 0 0 5px; border-right-width: 0;  }
.form__pages .search__pages input[type="search"]::placeholder { font-size: 1em; color: var(--grey); }
.form__pages .search__pages button[type="submit"] { width: 5%; height: 37px; background-color: #fff; color: var(--grey); padding: 0; font-size: 1em; border: 1px solid var(--border-color); border-radius: 0 5px 5px 0; border-left-width: 0; }
.form__pages .view__pages { width: 30%; gap: 10px; justify-content: flex-end; }
.form__pages .view__pages select { max-width: 100px; border: 1px solid var(--border-color); border-radius: var(--border-radius); color: var(--grey); height: 35px;  }

/* SMALL DEVICE */
@media only screen and (max-width:576px) {
  .form__pages { flex-direction: column; gap: 10px; }
  .form__pages .search__pages { width: 100%; }
  .form__pages .search__pages input[type="search"] { width: 90%; }
  .form__pages .search__pages button[type="submit"] { width: 10%; }
  .form__pages .view__pages { width: 100%; }
}

/* BOTÕES PAGINAÇÃO */
.btn-group button { display: inline-table; width: auto; outline: 1px solid var(--border-color); }
.btn-group button.active { background: var(--primary-color); color: #fff; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0; }
.btn-group > .btn:first-child { margin-left: 0; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0; border-top-right-radius: 0; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0; border-top-left-radius: 0; }
.btn-group > .btn-group { float: left; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0; }
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0; border-top-right-radius: 0; }
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child { border-bottom-left-radius: 0; border-top-left-radius: 0; }
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0; }
.btn-group > .btn + .dropdown-toggle { padding-left: 8px; padding-right: 8px; }
.btn-group > .btn-lg + .dropdown-toggle { padding-left: 12px; padding-right: 12px; }
.btn-group.open .dropdown-toggle { -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn-group.open .dropdown-toggle.btn-link { -webkit-box-shadow: none; box-shadow: none; }
.btn .caret { margin-left: 0; }
.btn-lg .caret { border-width: 5px 5px 0; border-bottom-width: 0; }
.dropup .btn-lg .caret { border-width: 0 5px 5px; }
.btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn { display: block; float: none; width: 100%; max-width: 100%; }
.btn-group-vertical > .btn-group > .btn { float: none; }
.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group { margin-top: -1px; margin-left: 0; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0; }
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child { border-top-right-radius: 0; border-top-left-radius: 0; }
.btn-group-justified { display: table; width: 100%; table-layout: fixed; border-collapse: separate; }
.btn-group-justified > .btn, .btn-group-justified > .btn-group { float: none; display: table-cell; width: 1%; }
.btn-group-justified > .btn-group .btn { width: 100%; }
.btn-group-justified > .btn-group .dropdown-menu { left: auto; }

/* PÁGINA PESQUISA */
.search-card { border-radius: 5px; }
.search-card .search-card__cover { width: 100%; height: 300px; object-fit: cover; -webkit-transition: .3s; transition: .3s; }
.search-card:hover .search-card__cover { opacity: .8; }
.search-card .search-card__title { background-color: var(--primary-color); margin: 0; height: 60px; display: flex; align-items: center; justify-content: center; color: #fff; text-align: center; border-radius: 0 0 5px 5px; font-size: 14px; -webkit-transition: .3s; transition: .3s; }
.search-card:hover .search-card__title { background-color: var(--dark); }

/* ASIDE */
.aside-sig { border: 1px solid var(--border-color);  border-radius: var(--border-radius); overflow: hidden; margin: 25px 0 25px 5%;}
.aside-sig h2 { background-color: var(--primary-color); font-size: 1em; color: #fff; margin: 0px; padding: 1em; }
.aside-sig h2 a { color: #fff; }
.aside-sig li { margin: 0; }
.aside-sig .sub-menu { display: block; margin: 0;}
.aside-sig .sub-menu--first { display: block; }
.aside-sig .submenu-item { display: block; margin: 0; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5px; color: var(--grey); font-size: 1em; -webkit-transition: .3s; transition: .3s; }
.aside-sig .submenu-item--first { border-left: 2px solid var(--grey); }
.aside-sig .submenu-item--first:hover { border-left-color: var(--primary-color); }
.aside-sig .submenu-item--last { padding-left: 15px; }
.aside-sig .submenu-item:hover, 
.aside-sig .submenu-item.active-menu-aside { color: var(--primary-color); background-color: #f7f7f7; }
.aside-sig .aside__contact .btn { display: block; margin: 0 auto; padding: 1em; text-align: center; border-radius: 0; border-top: 1px solid var(--border-color); }
.aside-sig .fb-page { margin: 0 auto; }

/* SMALL DEVICE */
@media only screen and (max-width: 576px) {
  .aside-sig { margin: 15px auto; }
}

/* ASIDE HIDDEN */
.aside-hidden { box-sizing: border-box; border-radius: var(--border-radius) 0 0 var(--border-radius); width: 300px; height: auto; margin: 0; padding: 15px 30px; background-color: var(--primary-color); color: #fff; position: fixed; right: -300px; top: 50%; transform: translateY(-50%); z-index: 999; display: flex; flex-flow: column; justify-content: space-between; transition: .5s ease-in-out; }

.aside-hidden::before { content: '\f100'; font-family: 'FontAwesome'; background-color: var(--primary-color); border-radius: var(--border-radius) 0 0 var(--border-radius); box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5); width: 50px; height: 100px; display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; transform: translateY(-50%); left: -50px; cursor: pointer; transition: .3s; }
.aside-hidden:hover { right: 0; }
.aside-hidden:hover::before { opacity: 0; }

.aside-hidden h2 { margin-top: 15px; margin-bottom: 0; font-size: 1.5em; }
.aside-hidden h2 a { color: #fff; }

.aside-hidden nav::-webkit-scrollbar { width: 3px; }
.aside-hidden nav::-webkit-scrollbar-thumb { background-color: var(--dark); }
.aside-hidden nav { max-height: 300px; height: auto; overflow-y: auto; }

.aside-hidden :is(nav, .aside__cta) { display: block; width: 100%; margin: 15px auto; }
.aside-hidden:hover :is(nav, .aside__cta) { animation-name: anima__aside; animation-duration: .7s; animation-timing-function: ease-in-out; }

.aside-hidden .sub-menu li a { display: block; padding: 5px; margin: 5px 0; font-size: 12px; border-left: 1.5px solid #fff; color: #fff; transition: .3s; }
.aside-hidden .sub-menu li a:hover,
.aside-hidden .sub-menu li a.active-menu-aside { border-left: 3px solid var(--dark); color: var(--dark); }

.aside__cta .btn { display: block; width: 100%; margin: 5px auto; background-color: var(--primary-light-color); border-radius: var(--border-radius); border: 2px solid transparent; }
.aside__cta .btn:hover { border-color: var(--primary-light-color); background-color: var(--primary-color); }

@keyframes anima__aside {
  0% { transform: translateX(1000px); }
  100% { transform: translateX(0); }
}

/* *****PRODUTOS***** */

  /* **PRODUTO THUMB** */
  .card--prod { position: relative; overflow: hidden; border-radius: var(--border-radius); -webkit-transition: .3s; transition: .3s; }
  .card--prod .card__cover { border-radius: var(--border-radius) var(--border-radius) 0 0; width: 100%; height: 280px; object-fit: cover; display: block; margin: 0 auto; -webkit-transition: .3s; transition: .3s; }
  .card--prod:hover .card__cover { opacity: .8; }
  .card--prod .card__title { margin: 0; padding: 5px 10px; border-radius: 0 0 var(--border-radius) var(--border-radius); font-size: 1em; background-color: var(--primary-color); color: #fff; text-align: center; height: 50px; display: flex; align-items: center; justify-content: center; }

  /* **PRODUTO INC COVER** */
  .prod-inc-cover img { display: block; margin: 0 auto; max-width: 380px; width: 100%; height: 380px; object-fit: contain; }

  /* SMALL DEVICE */
  @media only screen and (max-width:576px) {
    .prod-inc-cover img { height: calc(380px - 15vh); }
  }

  /* **PRODUTO INC GALLERY -- DEFAULT** */
  .prod-inc-gallery .gallery__item img { display: block; margin: 0 auto; max-width: 100%; width: 100px; height: 100px; object-fit: contain; cursor: pointer;}

  /* **PRODUTO INC GALLERY -- CUSTOM** */
  .prod-inc-custom-gallery .gallery__main { width: 100%; margin-bottom: 1.5em; }
  .prod-inc-custom-gallery .gallery__main img { display: block; margin: 0 auto; max-width: 380px; width: 100%; height: 380px; object-fit: contain; cursor: crosshair; }
  
  .prod-inc-custom-gallery .gallery__nav { width: 100%; margin-top: 1.5em; }
  .prod-inc-custom-gallery .gallery__nav .gallery__item { margin: 0.5em; max-width: 18.8%; width: auto; cursor: pointer; }
  .prod-inc-custom-gallery .gallery__nav .gallery__item img { display: block; margin: 0 auto; width: 100px; height: 100px; object-fit: contain; }
  .prod-inc-custom-gallery .gallery__nav .gallery__item img:hover { opacity: 0.5; }
  
  .prod-inc-custom-gallery .gallery__nav .slick-list .slick-track { display: flex; justify-content: center; align-items: center; }

  /* SMALL DEVICE */
  @media only screen and (max-width:576px) {
    .prod-inc-custom-gallery .gallery__main img { height: calc(380px - 15vh); }
  }

  /* **PRODUTO INC CARRINHO** */
  .prod-inc-cart .cart { display: block; width: 100%; font-size: 1em; }
  .prod-inc-cart .cart fieldset { border: 1px solid var(--border-color); border-radius: var(--border-radius); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1em; }
  .prod-inc-cart .cart label:not(.radio-option) { display: block; font-size: 1em; color: var(--grey); }
  .prod-inc-cart .cart label.radio-option { display: flex; align-items: center; justify-content: flex-start; margin: 0.5em 1em; }
  .prod-inc-cart .cart input[type="radio"] { margin-right: 0.5em; max-width: 1em; }
  .prod-inc-cart .cart input[type="submit"]:hover { background-color: var(--dark); }

  /* **INPUT NUMBER** */

  .prod-inc-cart .inputNumber { position: relative; overflow: hidden; display: flex; align-items: center; justify-content: center; width: 100%; margin: 0; background-color: #fff; border: 1px solid var(--border-color); border-radius: var(--border-radius);  }
  .prod-inc-cart .inputNumber input, .inputNumber .inputNumberBtn { position: relative; width: 40%; height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5px; font-size: 1.6em; text-align: center; line-height: 40px; outline: 0; border: 0px; }
  .prod-inc-cart .inputNumber .inputNumberBtn { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; transition: .3s; }
  .prod-inc-cart .inputNumber .inputNumberBtn:hover, .inputNumber .inputNumberBtn:active { color: var(--dark); }
  .prod-inc-cart .inputNumber .inputNumberBtn.disabled { cursor: default; color: rgba(116, 116, 116, 0.5); }
  .prod-inc-cart .inputNumber input { border-left: 0; border-right: 0; color: var(--dark); font: bold 1.3em var(--primary-font); }
  .prod-inc-cart .inputNumber input:focus { outline: 0; }
  .prod-inc-cart .inputNumber input[type=number]::-webkit-inner-spin-button, .inputNumber input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

  .prod-inc-cart .cart .addOrc { width: 100%; display: flex; align-items: center; justify-content: center; margin: 0; height: 50px;  border-radius: var(--border-radius); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5px; background-color: var(--primary-color); color: #fff; font: bold 0.8em var(--primary-font); outline: none; border: none; transition: .3s; }

  /* **PRODUTO INC CONTENT** */
  .prod-inc-tab { display: flex; align-items: center; justify-content: flex-start; }
  .prod-inc-tab .tab__link { -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: var(--border-radius) var(--border-radius) 0 0; padding: 1em; background-color: #fff; border: 1px solid var(--border-color); margin: 0; z-index: 0; position: relative; top: 1px; cursor: pointer; }
  .prod-inc-tab .tab__link:not(:last-child) { border-right-width: 0; }
  .prod-inc-tab .tab__link.active { z-index: 1; border-bottom-color: #fff; }
  .prod-inc-content .tab__content { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1em; border: 1px solid var(--border-color); border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius); }

/* *****END PRODUTOS***** */

/* BLOG */

.blog-card {
  overflow: hidden;
}
.blog-card .blog-card__image { overflow: hidden; aspect-ratio: 4/3; }
.blog-card__image img { width: 100%; height: 100%; object-fit: cover; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; }
.blog-card .blog-card__info { z-index: 2; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; width: 100%; margin: 0 auto; }
.blog-card .blog-card__date { font-size: 10px; color: var(--grey); font-weight: bold; }
.blog-card .blog-card__title { color: var(--dark); -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; margin: 0;}
.blog-card:hover .blog-card__title { color: var(--primary-color); }
.blog-card .blog-card__description p { font-size: 14px; color:#222; margin: 16px 0 32px 0; }
.blog-card .blog-card__content-text { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }

.blog-card__author {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.blog-card__author a {
  transition: 0.3s
}

.blog-card__author a:hover {
  color: var(--dark);
}

.blog-card__btn {
  background-color: var(--primary-color);
  color: #FFF;
  padding: 12px 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  width: fit-content;
  transition: 0.3s;
  margin-left: auto;
}

.blog-card__btn i {
  font-size: 12px;
}

.blog-card__btn:hover {
  background-color: var(--dark);
}

.blog-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 16px 0;
}

.blog-card__tags a {
  background-color: var(--primary-color);
  color: #FFF;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
  transition: 0.3s;
}

.blog-card__tags a:hover {
  background-color: var(--dark);
}

/* BLOG.INC */
.blog-inc__date { font-size: 10px; color: var(--grey); font-weight: bold; }
.blog-inc__cover img { margin-bottom: 15px; }

/* NEWSLETTER */
.newsletter-form { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 25px 0; }
.newsletter-form input { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 15px; border-radius: 5px; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 30%); box-shadow: 3px 3px 3px rgba(0, 0, 0, 30%); width: 100%; font: 14px/normal var(--primary-font); }
.newsletter-form input::placeholder { font: 14px/normal var(--primary-font); }
.newsletter-form input[type="submit"] { background-color: var(--primary-color); border-color: var(--primary-color); color: #fff; -webkit-transition: .3s; transition: .3s; }
.newsletter-form input[type="submit"]:hover { background-color: var(--dark); border-color: var(--dark); }
.j_load { z-index: 99999; display: none; top: 0px; left: 0px; bottom: 0px; right: 0px; background: url('<?=$url?>imagens/loading.gif') 50% 50% no-repeat rgba(0, 0, 0, 0.5); background-size: 50px auto; position: fixed; width: 100%; height: 100%; }

/* DOWNLOADS */
.download-card { margin-bottom: 25px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 25px; border: 1px solid #ccc; border-radius: 3px; -webkit-transition: .3s; transition: .3s; }
.download-card:hover { border-color: var(--dark); }
.download-card__link { display: flex; }
.download-card .download-card__icon { width: 10%; display: flex; align-items: center; justify-content: flex-start; font-size: 32px; color: var(--primary-color); -webkit-transition: .3s; transition: .3s; }
.download-card:hover .download-card__icon { color: var(--dark); }
.download-card .download-card__description { width: 90%; }
.download-card .download-card__title { margin-top: 0; font-size: 14px; color: var(--primary-color); -webkit-transition: .3s; transition: .3s; }
.download-card:hover .download-card__title { color: var(--dark) }
.download-card .download-card__text { font-size: 12px; color: var(--grey); margin: 0; }

/* CASES */
.case-card { position: relative; display: block; width: 100%; height: 100%; overflow: hidden; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 10%); box-shadow: 0 0 10px rgba(0, 0, 0, 10%); border-radius: 5px; }
.case-card .case-card__cover { width: 100%; height: 300px; object-fit: cover; -webkit-transition: 1s; transition: 1s; }
.case-card:hover .case-card__cover { transform: scale(1.5); }
.case-card .case-card__overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; opacity: 0; background-color: rgb(33, 114, 179, 90%); -webkit-transition: .5s; transition: .5s; }
.case-card:hover .case-card__overlay { opacity: 1; }
.case-card .case-card__title { position: relative; top: -25%; text-align: center; margin: 25px; font-size: 18px; color: #fff; -webkit-transition: .5s; transition: .5s; }
.case-card:hover .case-card__title { top: 0; }

/* CASES.INC */
.cases-inc__cover { float: left; padding-right: 10px; padding-bottom: 10px; width: 300px; }

/* PANEL */
.panel { margin-bottom: 20px; background-color: #fff; border: 1px solid transparent; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05); box-shadow: 0 1px 1px rgba(0, 0, 0, .05); }
.panel-body { padding: 15px; }
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel-heading > .dropdown .dropdown-toggle { color: inherit; }
.panel-title { margin-top: 0; margin-bottom: 0; font-size: 16px; color: inherit; }
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a { color: inherit; }
.panel-footer { padding: 10px 15px; background-color: #f5f5f5; border-top: 1px solid #ddd; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel > .list-group, .panel > .panel-collapse > .list-group { margin-bottom: 0; }
.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item { border-width: 1px 0; border-radius: 0; }
.panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child { border-top: 0; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child { border-bottom: 0; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child { border-top-left-radius: 0; border-top-right-radius: 0; }
.panel-heading + .list-group .list-group-item:first-child { border-top-width: 0; }
.list-group + .panel-footer { border-top-width: 0; }
.panel > .table, .panel > .table-responsive > .table, .panel > .panel-collapse > .table { margin-bottom: 0; }
.panel > .table caption, .panel > .table-responsive > .table caption, .panel > .panel-collapse > .table caption { padding-right: 15px; padding-left: 15px; }
.panel > .table:first-child, .panel > .table-responsive:first-child > .table:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel > .table:first-child > thead:first-child > tr:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child { border-top-left-radius: 3px; }
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child { border-top-right-radius: 3px; }
.panel > .table:last-child, .panel > .table-responsive:last-child > .table:last-child { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel > .table:last-child > tbody:last-child > tr:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child { border-bottom-left-radius: 3px; }
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child { border-bottom-right-radius: 3px; }
.panel > .panel-body + .table, .panel > .panel-body + .table-responsive, .panel > .table + .panel-body, .panel > .table-responsive + .panel-body { border-top: 1px solid #ddd; }
.panel > .table > tbody:first-child > tr:first-child th, .panel > .table > tbody:first-child > tr:first-child td { border-top: 0; }
.panel > .table-bordered, .panel > .table-responsive > .table-bordered { border: 0; }
.panel > .table-bordered > thead > tr > th:first-child, .panel > .table-responsive > .table-bordered > thead > tr > th:first-child, .panel > .table-bordered > tbody > tr > th:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, .panel > .table-bordered > tfoot > tr > th:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, .panel > .table-bordered > thead > tr > td:first-child, .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, .panel > .table-bordered > tbody > tr > td:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, .panel > .table-bordered > tfoot > tr > td:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child { border-left: 0; }
.panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child, .panel > .table-bordered > tbody > tr > th:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .panel > .table-bordered > tfoot > tr > th:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .panel > .table-bordered > thead > tr > td:last-child, .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .panel > .table-bordered > tfoot > tr > td:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child { border-right: 0; }
.panel > .table-bordered > thead > tr:first-child > td, .panel > .table-responsive > .table-bordered > thead > tr:first-child > td, .panel > .table-bordered > tbody > tr:first-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:first-child > td, .panel > .table-bordered > thead > tr:first-child > th, .panel > .table-responsive > .table-bordered > thead > tr:first-child > th, .panel > .table-bordered > tbody > tr:first-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:first-child > th { border-bottom: 0; }
.panel > .table-bordered > tbody > tr:last-child > td, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > td, .panel > .table-bordered > tfoot > tr:last-child > td, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td, .panel > .table-bordered > tbody > tr:last-child > th, .panel > .table-responsive > .table-bordered > tbody > tr:last-child > th, .panel > .table-bordered > tfoot > tr:last-child > th, .panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th { border-bottom: 0; }
.panel > .table-responsive { margin-bottom: 0; border: 0; }
.panel-group { margin-bottom: 20px; }
.panel-group .panel { margin-bottom: 0; border-radius: 4px; }
.panel-group .panel + .panel { margin-top: 5px; }
.panel-group .panel-heading { border-bottom: 0; }
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group { border-top: 1px solid #ddd; }
.panel-group .panel-footer { border-top: 0; }
.panel-group .panel-footer + .panel-collapse .panel-body { border-bottom: 1px solid #ddd; }
.panel-default { border-color: #ddd; }
.panel-default > .panel-heading { color: #333; background-color: #f5f5f5; border-color: #ddd; }
.panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color: #ddd; }
.panel-default > .panel-heading .badge { color: #f5f5f5; background-color: #333; }
.panel-default > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #ddd; }
.panel-primary { border-color: #337ab7; }
.panel-primary > .panel-heading { color: #fff; background-color: #337ab7; border-color: #337ab7; }
.panel-primary > .panel-heading + .panel-collapse > .panel-body { border-top-color: #337ab7; }
.panel-primary > .panel-heading .badge { color: #337ab7; background-color: #fff; }
.panel-primary > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #337ab7; }
.panel-success { border-color: #d6e9c6; }
.panel-success > .panel-heading { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.panel-success > .panel-heading + .panel-collapse > .panel-body { border-top-color: #d6e9c6; }
.panel-success > .panel-heading .badge { color: #dff0d8; background-color: #3c763d; }
.panel-success > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #d6e9c6; }
.panel-info { border-color: #999; }
.panel-info > .panel-heading { color: #ffffff; background-color: #999; }
.panel-info > .panel-heading + .panel-collapse > .panel-body { border-top-color: #bce8f1; }
.panel-info > .panel-heading .badge { color: #d9edf7; background-color: #31708f; }
.panel-info > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #bce8f1; }
.panel-warning { border-color: #faebcc; }
.panel-warning > .panel-heading { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.panel-warning > .panel-heading + .panel-collapse > .panel-body { border-top-color: #faebcc; }
.panel-warning > .panel-heading .badge { color: #fcf8e3; background-color: #8a6d3b; }
.panel-warning > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #faebcc; }
.panel-danger { border-color: #ebccd1; }
.panel-danger > .panel-heading { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.panel-danger > .panel-heading + .panel-collapse > .panel-body { border-top-color: #ebccd1; }
.panel-danger > .panel-heading .badge { color: #f2dede; background-color: #a94442; }
.panel-danger > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #ebccd1; }
.embed-responsive { position: relative; display: block; height: 0; padding: 0; overflow: hidden; }

/* ******************************** PUT YOUR CSS BELOW ******************************** */

/* BLOG TAGS */

.blog-tag-list__cards {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.blog-tag-list--aside {
  padding: 8px;
}

.blog-tag-list--aside .blog-tag-list__cards {
  max-height: 200px;
  overflow-y: auto;
  padding: 8px;
}

.blog-tag-list p {
  width: 100%;
}

.blog-tag-list a {
  background-color: var(--primary-color);
  display: inline-block;
  padding: 4px 8px;
  color: #222;
  border-radius: 4px;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
}

.blog-tag-list:not(.blog-tag-list--aside) a {
  padding: 8px 16px;
}

.blog-tag-list.blog-tag-list--aside a {
  padding: 8px;
}

.blog-tag-list a:hover {
  background-color: var(--dark);
  color:#fff;
}

/* FIM BLOG TAGS */

/* BLOG AUTHOR */

.blog-inc__author {
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* FIM BLOG AUTHOR */

/* AUTHOR */

#author .bread {
  margin-bottom: 0;
}

.author__heading {
  padding: 32px 0;
  margin-bottom: 32px;
}

.author__cover {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.author__image {
  display: block;
  width: 100%;
  height: 100%;
}

.author__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.author__title {
  font-size: 28px;
  margin: 0;
  color: var(--dark);
  font-weight: bold;
}

.author__text {
  margin: 0;
  font-size: 16px;
}

.author__role {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0;
}

/* FIM AUTHOR */

/* BLOG HOME */

.blog-home {
  padding: 16px 0;
}

.blog-home__title {
  color: #222;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.blog-home__title span {
  display: block;
  text-align: center;
  color: #222;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

/* FIM BLOG HOME */

/* BLOG PAGINATION */

.blog-pagination {
  margin: 24px 0;
}

.blog-pagination .btn-group button {
  outline: none;
  border: none;
  margin: 1px;
  padding: 14px 28px;
}

.blog-pagination .btn-group button.active,
.blog-pagination .btn-group button:hover {
  background-color: var(--dark);
}

@media only screen and (min-width: 768px) {
  .blog-pagination .btn-group button:first-of-type {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .blog-pagination .btn-group button:last-of-type {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

/* FIM BLOG PAGINATION */